<div ng-cloak>
	<md-content>
		<div ng-if="model.message" layout="row">
			<md-whiteframe class="md-whiteframe-5dp" ng-class="model.deviseStatusMessage()" flex style="padding: 16px; text-align: center;">	
				<span>{{model.message.message}}</span>
			</md-whiteframe>
		</div>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Users"> 
				<md-content class="md-padding" layout="column">
					<div layout="row" layout-sm="column" layout-align="center center" ng-show="!model.loaded">
						<md-progress-circular md-mode="indeterminate"></md-progress-circular>
					</div>
					<md-toolbar md-scroll-shrink layout="row" layout-align="center center">
						<div class="md-toolbar-tools">
							<span>Tools</span>
							<span flex></span>
							<md-input-container md-no-float class="md-block search-bar md-accent">
								<input ng-model="searchUserInput" type="text" placeholder="Search users">
							</md-input-container>
							<span flex></span>
						</div>
						<md-button class="md-icon-button" aria-label="Create new Message" ng-click="model.createUserDialog($event)" style="margin-top: 13px; margin-bottom: 13px;">
							<md-icon ng-bind="'add'"></md-icon>
						</md-button>
					</md-toolbar>
					<md-list flex ng-show="model.loaded">
						<md-subheader class="md-no-sticky">All Users</md-subheader>
						<md-list-item class="md-3-line" ng-repeat="user in model.userList | filter: {username: searchUserInput}" 
							ng-click="model.editUserDialog($event, user)">
							<div class="md-list-item-text" layout="column">
								<h3>{{ user.username }}</h3>
								<h4>ID: {{ user.id }}</h4>
								<p>Email: {{ user.type }}</p>
							</div>
						</md-list-item>
					</md-list>
				</md-content> 
			</md-tab> 
			<md-tab label="Events"> 
				<md-content class="md-padding" layout="column">
					<div layout="row" layout-sm="column" layout-align="center center" ng-show="!model.loaded">
						<md-progress-circular md-mode="indeterminate"></md-progress-circular>
					</div>
					<md-toolbar md-scroll-shrink layout="row">
						<div class="md-toolbar-tools">
							<span>Tools</span>
							<span flex></span>
							<md-input-container md-no-float class="md-block search-bar md-accent">
								<input ng-model="searchEventInput" type="text" placeholder="Search events">
							</md-input-container>
							<span flex></span>
						</div>
					</md-toolbar>
					<md-list flex ng-show="model.loaded">
						<md-subheader class="md-no-sticky">All Events</md-subheader>
						<md-list-item class="md-3-line" ng-repeat="event in model.eventList | filter: { name: searchEventInput }" 
							ng-click="model.createEventEditDialog($event, event)">
							<div class="md-list-item-text" layout="column">
								<h3>{{ event.name }}</h3>
								<h4>ID: {{ event.id }}</h4>
								<p>Owner: {{ event.owner.username }} ({{event.owner.id}})</p>
							</div>
						</md-list-item>
					</md-list>
				</md-content> 
			</md-tab> 
			<md-tab label="Posts & Comments"> 
				<md-content class="md-padding" layout="column">
					<div layout="row" layout-sm="column" layout-align="center center" ng-show="!model.loaded">
						<md-progress-circular md-mode="indeterminate"></md-progress-circular>
					</div>
					<md-toolbar md-scroll-shrink layout="row">
						<div class="md-toolbar-tools">
							<span>Tools</span>
							<span flex></span>
							<md-input-container md-no-float class="md-block search-bar md-accent">
								<input ng-model="searchPostInput" type="text" placeholder="Search posts">
							</md-input-container>
							<span flex></span>
						</div>
						<md-button class="md-icon-button" ng-click="model.createPostDialog($event)" aria-label="Create new Post" style="margin-top: 13px; margin-bottom: 13px;">
							<md-icon ng-bind="'add'"></md-icon>
						</md-button>
					</md-toolbar>
					<md-list flex ng-show="model.loaded">
						<md-subheader class="md-no-sticky">All Posts</md-subheader>
						<md-list-item class="md-3-line admin-comments" ng-repeat="post in model.postList.slice().reverse() | filter: {content: searchPostInput}" 
							ng-init="post.isViewing = false">
							<div class="md-list-item-text" layout="column">
								<h3>{{ post.content }}</h3>
								<h4>ID: {{ post.id }}</h4>
								<p>Owner: {{ post.owner.username }} ({{post.owner.id}})</p>
								<a class="md-primary" ng-click="post.isViewing = !post.isViewing"> 
									{{post.isViewing ? "Hide Comments" : "View Comments"}}
								</a>
								<md-list flex ng-show="post.isViewing">
									<md-list-item class="md-3-line" ng-repeat="comment in post.comments">
										<div class="md-list-item-text" layout="column">
											<h3>ID: {{ comment.id }}</h3>
											<h4>{{ comment.content }}</h4>
											<p>Owner: {{ comment.owner.username }} ({{comment.owner.id}})</p>
										</div>
									</md-list-item>
								</md-list>
							</div>
							<md-button class="md-raised" ng-click="model.editPostDialog($event, post)">Edit</md-button>
						</md-list-item>
					</md-list>
				</md-content> 
			</md-tab> 
			<md-tab label="Messages"> 
				<md-content class="md-padding" layout="column">
					<div layout="row" layout-sm="column" layout-align="center center" ng-show="!model.loaded">
						<md-progress-circular md-mode="indeterminate"></md-progress-circular>
					</div>
					<md-toolbar md-scroll-shrink layout="row">
						<div class="md-toolbar-tools">
							<span>Tools</span>
							<span flex></span>
							<md-input-container md-no-float class="md-block search-bar md-accent">
								<input ng-model="searchMessageInput" type="text" placeholder="Search messages">
							</md-input-container>
							<span flex></span>
						</div>
					</md-toolbar>
					<md-list flex ng-show="model.loaded">
						<md-subheader class="md-no-sticky">All Messages</md-subheader>
						<md-list-item class="md-3-line" ng-repeat="message in model.messageList | filter: {message: searchMessageInput}" 
							ng-click="model.editMessageDialog($event, message)">
							<div class="md-list-item-text" layout="column">
								<h4>Sender: {{ message.sender.username }} ({{message.sender.id}})</h4>
								<h4>Recipient: {{ message.recipient.username }} ({{message.recipient.id}})</h4>
								<p>Message: {{ message.message }} ({{model.toReadableDate(message.timestamp)}})</p>
							</div>
						</md-list-item>
					</md-list>
				</md-content> 
			</md-tab> 
		</md-tabs> 
	</md-content>
</div>