<div ng-show="!model.loaded">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<md-content ng-show="model.loaded">
	<div ng-if="model.eventData.attending.length == 0">
		<h3>This event has no attendees.</h3>
	</div>
	<md-list flex ng-if="model.eventData.attending.length > 0"> 
		<md-subheader class="md-no-sticky">Attending</md-subheader> 
		<md-list-item class="md-3-line info-entry" ng-repeat="attend in model.eventData.attending" layout="row"> 
			<img ng-src="{{attend.attendee.settings.avatar ? attend.attendee.settings.avatar : '/images/placeholder.png'}}" class="md-avatar" />
			<div class="md-list-item-text" layout="column">
				<h3>{{ attend.attendee.username }}</h3>
				<h4 ng-if="attend.attendee.settings.firstName || attend.attendee.settings.lastName">
					{{ attend.attendee.settings.firstName ? attend.attendee.settings.firstName : "" }}
					{{ attend.attendee.settings.lastName ? attend.attendee.settings.lastName : "" }}
				</h4>
			</div>
			<span flex></span>
			<md-button ng-if="$root.sessionId && $root.sessionId != attend.attendee.id && model.isSessionFollowing(attend.attendee.id)" 
						class="md-raised info-button"
						ng-click="model.unfollowUser(attend.attendee.id)">
				<md-icon ng-bind="'check'" aria-label="Unfollow user"></md-icon>
				Following
			</md-button>
			<md-button ng-if="$root.sessionId && $root.sessionId != attend.attendee.id && !model.isSessionFollowing(attend.attendee.id)" 
						class="md-raised md-primary info-button"
						ng-click="model.followUser(attend.attendee.id)">
				Follow
			</md-button>
		</md-list-item>
	</md-list>
</md-content>