<md-toolbar class="md-primary">
<div class="md-toolbar-tools">
	<h2>Conversation with: {{model.findParticipant().username}}</h2>
	<span flex></span>
	<md-button class="md-icon-button" aria-label="Refresh conversation" ng-click="model.findConversationForUser()"
	style="margin-top: 13px; margin-bottom: 13px;">
		<md-icon ng-bind="'refresh'"></md-icon>
	</md-button>
</div>
</md-toolbar>
<div layout="column">
	<md-content layout-fill layout-padding flex layout="column">
		<div id="message-feed" layout="column">
			<div layout="row" ng-repeat="entry in model.conversationTuple" class="message-bubble" ng-show="!model.hideArchivedEntry(entry)">
				<span flex ng-if="model.isSender(entry)"></span>
				<img src="images/placeholder.png" class="circle responsive-img avatar-message"
						ng-if="!entry.sender.settings.avatar && !model.isSender(entry)">
				<img src="{{entry.sender.settings.avatar}}" class="circle responsive-img avatar-message"
						ng-if="entry.sender.settings.avatar && !model.isSender(entry)">
				<div class="message-frame-recp" ng-class="model.isSender(entry) ? 'message-frame-send' : 'message-frame-recp'">
					<p class="message-content">
						<a class="md-accent" href="/profile/{{entry.sender.id}}">{{entry.sender.username}}</a>
						: {{entry.message}}
					</p>
					<div layout="row">
						<p class="messsage-content message-timestamp">{{model.toReadableDate(entry.timestamp)}}</p>
						<span flex></span>
						<p class="message-content message-timestamp">
							<a class="md-accent edit-controls-message" ng-click="model.archiveMessage(entry)">Archive</a>
						</p>
					</div>
				</div>
				<img src="images/placeholder.png" class="circle responsive-img avatar-message"
						ng-if="!entry.sender.settings.avatar && model.isSender(entry)">
				<img src="{{entry.sender.settings.avatar}}" class="circle responsive-img avatar-message"
						ng-if="entry.sender.settings.avatar && model.isSender(entry)">
			</div>
		</div>
		<form name="chatForm" layout="column">
			<md-input-container>
				<textarea ng-model="model.composedMessage" rows="1" placeholder="Enter your message here" ng-required="true" md-select-on-focus></textarea>
			</md-input-container>
			 <md-button ng-disabled="!chatForm.$valid" class="md-raised md-primary" ng-click="model.sendMessage(model.findParticipant().id); model.composedMessage = ''">Send</md-button>
		</form>
	
	</md-content>
</div>

