<div layout="row" layout-sm="column" layout-xs="column">
	<div ng-cloak flex-xs="100" flex-sm="100" flex-md="100" flex-gt-md="60">
		<md-content layout-padding>
			<md-card>
				<img flex ng-if="model.eventData.image" ng-src="{{model.eventData.image}}" class="md-card-image">
				<md-card-header>
					<md-card-header-text layout="row">
						<div layout="column">
							<span class="md-title">{{model.eventData.name}}</span>
							<span class="md-subhead">By: 
								<a href="/profile/{{model.eventData.owner.id}}" class="md-accent">
									{{model.eventData.owner.username}}
								</a>
							</span>
						</div>
						<span flex></span>
						<span class="md-red" ng-if="model.hasEnded()" >Note: This event has passed</span>
					</md-card-header-text>
				</md-card-header>
				<md-divider></md-divider>
				<md-card-content>
					<h2>General Information</h2>
					<p class="md-subhead">
						<md-icon ng-bind="'schedule'"></md-icon> 
						{{model.condenseDate(model.eventData.timeStart, model.eventData.timeEnd)}}
					</p>
					<p class="md-subhead">
						<md-icon ng-bind="'place'"></md-icon> 
						{{model.eventData.location}}
					</p>
					<p class="md-subhead">
						<md-icon ng-bind="'attach_money'"></md-icon> 
						{{model.eventData.admission == 0 ? "FREE" : model.eventData.admission}}
					</p>
					<div layout="column" ng-if="model.eventData.eventRights.length > 0">
						<p class="md-title">Staff</p>
						<div layout="row">
							<span ng-repeat="staff in model.eventData.eventRights">
								<a href="/profile/{{staff.user.id}}"><img src="{{staff.user.settings.avatar ? staff.user.settings.avatar : 'images/placeholder.png'}}" 
									class="circle avatar-attend" />
									<md-tooltip md-direction="bottom">{{staff.user.username}}</md-tooltip>
								</a>
							</span>
						</div>
					</div>
				</md-card-content>
				<md-divider></md-divider>
				<md-card-content>
					<h2>Attending</h2>
					<div layout="column" layout-align="space-between start">
						<div layout="row" ng-show="model.eventData.attending.length == 0">
							No one is going to this event yet.
						</div>
						<div layout="column" ng-show="model.eventData.attending.length > 0">
						<div layout="row">
							<span ng-repeat="attendee in model.eventData.attending | limitTo: 10">
								<a href="/profile/{{staff.user.id}}">
									<img src="{{attendee.attendee.settings.avatar ? attendee.attendee.settings.avatar : 'images/placeholder.png'}}" 
									class="circle avatar-attend" />
									<md-tooltip md-direction="bottom">{{attendee.attendee.username}}</md-tooltip>
								</a>
							</span>
						</div>
						<p class="info-panel"><a style="text-decoration: none;" class="md-accent" href="/events/{{model.eventData.id}}/attending">
							{{model.eventData.attending.length}} 
							{{model.eventData.attending.length == 1 ? "Person is" : "People are"}} 
							attending in this event
						</a></p>
						</div>
						<div layout="row" ng-show="model.eventData.interestedUsers.length > 0">
							<p class="info-panel"><a style="text-decoration: none;" class="md-subhead" href="/events/{{model.eventData.id}}/interested">
								{{model.eventData.interestedUsers.length}} 
								{{model.eventData.interestedUsers.length == 1 ? "Person is" : "People are"}} 
								interested in this event
							</a></p>
						</div>
					</div>
				</md-card-content>
				<md-card-content>
					<h2>Description</h2>
					<p>{{model.eventData.description}}</p>
				</md-card-content>
				<md-divider ng-if="$root.sessionId"></md-divider>
				<md-card-actions layout="row" layout-align="end center" ng-if="$root.sessionId">
					<span style="padding-right: 10px; padding-left: 10px;">Attend:</span>
					<md-checkbox ng-disabled="model.hasEnded()" ng-model="model.isCurrentUserAttending" ng-click="model.attendEvent()" 
						aria-label="Attend Event" class="event-box attending">
					</md-checkbox>
					<span flex></span>
					<span class="md-green" ng-show="model.isCurrentUserAttending">You are attending the event!</span>
					<span flex></span>
					<md-button ng-click="model.shareEventDialog($event, model.eventData)">Share</md-button>
					<md-button ng-if="model.isEventOwner || (model.currUserRights && model.currUserRights.id != 3)" href="/events/{{model.eventData.id}}/settings">Settings</md-button>
					<md-button class="md-icon-button" ng-click="model.expressInterest()"
						ng-class="{ 'md-accent': model.isCurrentUserInterested}">
						<md-tooltip md-direction="bottom">Interested</md-tooltip>
						<md-icon ng-bind="'favorite'"></md-icon>
					</md-button>
				</md-card-actions>
			</md-card>
		</md-content>
	</div>
	<div flex-xs="100" flex-sm="100" flex-md="100" flex-gt-md="40">
		<md-content layout-padding id="eventPostPanel">
			<md-card ng-if="$root.sessionId">
				<md-card-actions>
					<p class="md-title">Posts</p>
					<p class="md-subhead">Write a post</p>
					<form name="postForm">
						<md-input-container class="md-block">
							<textarea ng-model="postContent" aria-label="Create a post" rows="3" ng-required="true" md-select-on-focus></textarea>
						</md-input-container>
						<md-button ng-disabled="!postForm.$valid" class="md-raised md-primary" ng-click="model.submitPost(postContent); postContent = '';">Submit</md-button>
					</form>
				</md-card-actions>
			</md-card>
			<div ng-repeat="entry in model.eventPosts" 
					ng-init="model.postInit(entry.post)">
				<md-card>
					<md-card-header>
						<md-card-avatar>
							<img src="images/placeholder.png" ng-if="!entry.post.owner.settings.avatar" />
							<img src="{{entry.post.owner.settings.avatar}}" ng-if="entry.post.owner.settings.avatar" />
						</md-card-avatar>
						<md-card-header-text>
							<div layout="row">
								<div layout="column">
									<a style="text-decoration: none;" class="md-accent" href="/profile/{{entry.post.owner.id}}">
										<span class="md-title">{{entry.post.owner.username}}</span>
									</a>
									<span class="md-subhead">{{model.toReadableDate(entry.post.timestamp)}}</span>
								</div>
								<span flex></span>
								<div ng-if="model.hasControls(entry.post)">
									<md-button class="md-icon-button" 
										ng-if="model.currUserRights.id == 3 || model.isEventOwner" 
										ng-click="model.lockPost(entry.post.id)" > 
										<md-icon ng-bind="entry.post.locked ? 'lock_outline' : 'lock_open'" aria-label="Lock Post" ></md-icon>
										<md-tooltip md-direction="bottom">Lock Post</md-tooltip>
									</md-button>
									<md-button ng-if="model.isEntryOwner(entry.post)" class="md-icon-button" 
										ng-click="entry.post.isEditing = !entry.post.isEditing; entry.post.editPostContent = entry.post.content;"> 
										<md-icon ng-bind="'mode_edit'" aria-label="Edit Post" ></md-icon>
										<md-tooltip md-direction="bottom">Edit Post</md-tooltip>
									</md-button>
									<md-button class="md-icon-button" ng-click="model.deletePost(entry.post.id)"> 
										<md-icon ng-bind="'close'" aria-label="Delete Post"></md-icon>
										<md-tooltip md-direction="bottom">Delete Post</md-tooltip>
									</md-button>
								</div>
							</div>
						</md-card-header-text>
					</md-card-header>
					<md-divider></md-divider>
					<md-card-content>
						<span ng-show="!entry.post.isEditing">{{entry.post.content}}</span>
						<form name="editPostForm" ng-show="entry.post.isEditing">
							<p class="md-subhead">Edit Post</p>
							<md-input-container class="md-block">
								<textarea ng-model="entry.post.editPostContent" aria-label="Edit Post" rows="2" ng-required="true" md-select-on-focus></textarea>
							</md-input-container>
							<md-button ng-disabled="!editPostForm.$valid" class="md-raised md-primary" 
									ng-click="model.editPost(entry.post.id, entry.post.editPostContent); entry.post.editPostContent = '';">
								Submit
							</md-button>
						</form>
					</md-card-content>
					<md-divider></md-divider>
						<md-card-actions layout="row" layout-align="center center">
							<md-button ng-if="$root.sessionId" class="md-icon-button" aria-label="Thumbs Up" ng-click="model.ratePost(entry.post.id, 1)">
								<md-icon ng-bind="'thumb_up'" ng-class="{ 'md-green': entry.post.userRating == 1}"></md-icon>
							</md-button>
							<span>{{entry.post.rating}}</span>
							<md-button ng-if="$root.sessionId" class="md-icon-button" aria-label="Thumbs Down" ng-click="model.ratePost(entry.post.id, -1)">
								<md-icon ng-bind="'thumb_down'" ng-class="{ 'md-red': entry.post.userRating == -1}"></md-icon>
							</md-button>
						</md-card-actions>
					<md-divider></md-divider>
					<md-card-content>
						<div layout="row" layout-align="center center" ng-if="entry.post.comments.length == 0">
							No comments to display.
						</div>
						<div layout="row" ng-repeat="comment in entry.post.comments" class="comment-bubble" ng-init="comment.isEditing = false">
							<img src="images/placeholder.png" class="circle responsive-img avatar-comment"
									ng-if="!comment.owner.settings.avatar">
							<img src="{{comment.owner.settings.avatar}}" class="circle responsive-img avatar-comment"
									ng-if="comment.owner.settings.avatar">
							<div class="comment-frame">
								<p ng-show="!comment.isEditing" class="comment-content">
									<a class="md-accent" href="/profile/{{comment.owner.id}}">{{comment.owner.username}}</a>
									: {{comment.content}}
								</p>
								<form name="editCommentForm" ng-show="comment.isEditing" class="comment-content">
									<md-input-container class="md-block" layout="row" layout-align="end center">
										<textarea ng-model="comment.editCommentContent" aria-label="Edit Comment" rows="2" ng-required="true" md-select-on-focus></textarea>
										<md-button ng-disabled="!editCommentForm.$valid" class="md-raised md-primary" style="margin-left: 0" 
											ng-click="model.editComment(comment.id, comment.editCommentContent); comment.editCommentContent = '';" >
											Submit
										</md-button>
									</md-input-container>
								</form>
								<div layout="row">
									<p class="comment-content comment-timestamp">{{model.toReadableDate(comment.timestamp)}}</p>
									<span flex></span>
									<p class="comment-content comment-timestamp" ng-if="model.hasControls(comment)">
										<a ng-if="model.isEntryOwner(comment)" class="md-accent edit-controls-comment" 
											ng-click="comment.isEditing = !comment.isEditing; comment.editCommentContent = comment.content;">
												{{comment.isEditing ? "Cancel" : "Edit"}}
										</a>
										<a class="md-accent edit-controls-comment" ng-click="model.deleteComment(comment.id)">Delete</a>
									</p>
								</div>
							</div>
						</div>
					</md-card-content>
					<md-divider></md-divider>
					<div ng-if="entry.post.locked">
						<p style="padding: 16px;">This post is locked.</p>
					</div>
					<md-card-actions ng-if="$root.sessionId && !entry.post.locked">
						<form name="commentPostForm">
							<md-input-container class="md-block">
								<textarea ng-model="commentContent" rows="1" placeholder="Write a comment" ng-required="true" md-select-on-focus></textarea>
							</md-input-container>
							<md-button ng-disabled="!commentPostForm.$valid" class="md-raised md-primary" 
								ng-click="model.submitComment(entry.post.id, commentContent)">
								Submit
							</md-button>
						</form>
					</md-card-actions>
				</md-card>
			</div>
		</md-content>
	</div>
</div>
