<div ng-if="model.message" layout="row">
	<md-whiteframe class="md-whiteframe-5dp" ng-class="model.deviseStatusMessage()" flex style="padding: 16px; text-align: center;">	
		<span>{{model.message.message}}</span>
	</md-whiteframe>
</div>
<md-card flex="flex">
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">General</span>
		</md-card-title-text>
	</md-card-title>
	<md-card-content>
		<form id="eventSettingsForm" name="eventSettingsForm" layout="column">
			<md-input-container class="md-block" md-no-float ng-show="model.isOwner">
				<input placeholder="Name" ng-model="model.eventData.name" ng-required="true">
			</md-input-container>
			<md-input-container class="md-block" md-no-float ng-show="model.currUserRights.id == 1 || model.isOwner">
				<input ng-model="model.eventData.location" placeholder="Location" ng-required="true">
			</md-input-container>
			<md-switch ng-model="model.allDay" aria-label="All Day Option" ng-show="model.currUserRights.id == 1 || model.isOwner">
				All Day
			</md-switch>
			<div layout="row" ng-show="model.currUserRights.id == 1 || model.isOwner">
				<md-input-container class="md-block">
					<label>Start Day</label>
					<md-datepicker md-hide-icons="calendar" ng-model="model.eventData.startDate"></md-datepicker>
				</md-input-container>
				<md-input-container ng-if="!model.allDay" class="md-block" ng-show="model.currUserRights.id == 1 || model.isOwner">
					<input type="time" aria-label="Start Time for Event" ng-model="model.eventData.startTime">
				</md-input-container>
			</div>
			<div layout="row" ng-if="!model.allDay" ng-show="model.currUserRights.id == 1 || model.isOwner">
				<md-input-container class="md-block">
					<label>End Day</label>
					<md-datepicker md-hide-icons="calendar" ng-model="model.eventData.endDate"></md-datepicker>
				</md-input-container>
				<md-input-container class="md-block" ng-show="model.currUserRights.id == 1 || model.isOwner">
					<input type="time" aria-label="End Time for this event" ng-model="model.eventData.endTime">
				</md-input-container>
			</div>
			<md-input-container class="md-block" md-no-float ng-show="model.isOwner">
				<input ng-model="model.eventData.admission" type="number" step="0.01" placeholder="Price">
			</md-input-container>
			<md-input-container class="md-block" md-no-float ng-show="model.currUserRights.id == 2 || model.isOwner">
				<textarea ng-model="model.eventData.description" rows="8" placeholder="Description" ng-required="true" md-select-on-focus></textarea>
			</md-input-container>
			<div ng-show="model.isOwner">
				<md-input-container class="md-block">
					<input ng-model="model.eventData.image" placeholder="Enter URL or upload a file">
				</md-input-container>
				<input type="file" name="file">
				<md-button class="md-raised md-primary" style="margin-left: 32px;" ng-click="model.upload()">Upload</md-button>
			</div>
			<md-button ng-disabled="!eventSettingsForm.$valid" ng-click="model.modifyEvent(model.eventData)" class="md-raised md-primary">Update</md-button>
			<md-button ng-if="model.isOwner" ng-click="model.deleteEvent(model.eventData.id)" class="md-raised md-warn">Delete</md-button>
		</form>
	</md-card-content>
</md-card>

<md-card flex="flex" ng-show="model.isOwner">
	<md-card-title>
		<md-card-title-text layout="row">
			<span class="md-headline">Rights</span>
		</md-card-title-text>
	</md-card-title>
	<md-card-content id="rightsPanel">
		<p ng-show="model.rightsList.length == 0">No one has additional rights to this event. Fill the fields below to add a new user to management</p>
		<md-list-item ng-repeat="right in model.rightsList" ng-init="right.isEditing = false; right.alteredSelection = null">
			<div layout="row" flex ng-show="!right.isEditing">
				<img src="/images/placeholder.png" class="md-avatar" />
				<p class="md-heading">{{right.user.username}} ({{right.role.name}})</p>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="right.isEditing = !right.isEditing"> 
					<md-icon ng-bind="'edit'" aria-label="Edit rights"></md-icon>
				</md-button>
				<md-button class="md-icon-button md-warn" ng-click="model.revokeRightsToUser(right.id)"> 
					<md-icon ng-bind="'delete'" aria-label="Revoke rights"></md-icon>
				</md-button>
			</div>
			<form name="rightsEditForm" layout="row" flex ng-show="right.isEditing">
				<p class="md-heading">{{right.user.username}} ({{right.role.name}})</p>
				<md-select ng-model="right.alteredSelection" aria-label="Select new right" class="new-right-combo" flex="30">
					<md-option ng-repeat="entry in model.rightsCatalog" ng-required="true" ng-selected="true" ng-value="entry">
						{{entry.name}}
					</md-option>
				</md-select>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="right.isEditing = !right.isEditing"> 
					<md-icon ng-bind="'close'" aria-label="Discard changed"></md-icon>
				</md-button>
				<md-button ng-disabled="!rightsEditForm.$valid" class="md-icon-button md-primary" ng-click="model.alterRightsToUser(right)"> 
					<md-icon ng-bind="'check'" aria-label="Apply rights"></md-icon>
				</md-button>
			</form>
		</md-list-item>
		<md-divider></md-divider>
		<form name="rightsForm" layout="row" style="margin-top: 16px;">
			<md-autocomplete
				ng-model="model.userSelect"
				md-selected-item="model.userSelect" 
				md-search-text="model.userSearchText" 
				md-items="item in model.querySearch(model.userSearchText)" 
				md-item-text="item.username"
				md-require-match="true"
				placeholder="Find users"
				ng-required="true" flex>
				<md-item-template>
					<span md-highlight-text="model.userSearchText">{{item.username}}</span>
				</md-item-template>
				<md-not-found>
					No user was found
				</md-not-found>
			</md-autocomplete>
			<md-select ng-model="model.selectedRole" aria-label="Select new permission" class="new-right-combo" flex>
				<md-option ng-repeat="entry in model.rightsCatalog" ng-selected="true" ng-required="true" ng-value="entry">
					{{entry.name}}
				</md-option>
			</md-select>
			<span flex></span>
			<md-button ng-disabled="!rightsForm.$valid" class="md-raised primary" ng-click="model.grantRightsToUser(model.userSelect, model.selectedRole)">Apply</md-button>
		</form>
	</md-card-content>
</md-card>
