<div ng-cloak>
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
			<md-tab label="explore">
				<md-content class="md-padding">
					<md-toolbar class="md-primary md-hue-1">
						<div class="md-toolbar-tools">
							<md-checkbox ng-disabled="$root.userData.interests.length == 0" ng-model="model.interestSearch" aria-label="Interest Search" class="feed-checkbox" 
											ng-change="model.loadExploreModule()">
								Search by Interests
							</md-checkbox>
							<md-checkbox ng-model="model.nearbySearch" aria-label="Search by current location" class="feed-checkbox">
								Search by Location
							</md-checkbox>
							<md-input-container ng-if="model.nearbySearch" md-no-float class="md-block search-bar md-accent" style="margin: 24px;">
								<input ng-model="model.exploreLocationName" type="text" placeholder="Search by address" ng-keyup="$event.keyCode == 13 && model.loadExploreModule()">
							</md-input-container>
							<span flex></span>
							<md-input-container md-no-float class="md-block search-bar md-accent">
								<md-icon ng-bind="'search'"></md-icon>
								<input ng-model="model.exploreQuery" type="text" placeholder="Search by query" ng-keyup="$event.keyCode == 13 && model.loadExploreModule()">
							</md-input-container>
						</div>
					</md-toolbar>
					<div class="feed-frame">
						<div layout="column" layout-sm="column" layout-align="center center" ng-show="model.exploreError">
							<p>Oops! Explore was unable to get the explore feed.</p>
							<p ng-show="model.exploreErrorMessage">{{model.exploreErrorMessage}}</p>
							<md-button ng-click="model.loadExploreModule()">Try again</md-button>
						</div>
						<div layout="row" layout-sm="column" layout-align="center center" ng-show="!model.exploreLoaded" style="height: 256px;">
							<md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
						</div>
						<div ng-repeat="entry in model.exploreTuple.events" ng-show="model.exploreLoaded"> 
							<md-card>
								<md-card-header>
									<md-card-header-text>
										<span class="md-title">{{entry.name}}</span>
									</md-card-header-text>
								</md-card-header>
								<img ng-src="{{entry.img}}" class="md-card-image">
								<md-card-title>
									<md-card-title-text>
										<span class="md-subhead">Time: {{model.toReadableDate(entry.start)}} to 
											{{model.toReadableDate(entry.end)}}
										</span>
									</md-card-title-text>
								</md-card-title>
								<md-card-content>
									<p ng-bind-html="model.trustHTML(entry.description)"></p>
								</md-card-content>
								<md-card-actions layout="row" layout-align="end">
									<md-button href="{{entry.link}}">More Info</md-button>
									<md-button class="share-trigger" ng-click="model.shareEventBriteDialog($event, entry)">Share</md-button>
								</md-card-actions>
							</md-card>
						</div>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Events">
				<md-content class="md-padding feed-frame">
					<div layout="column" layout-sm="column" layout-align="center center" ng-show="model.eventsFeedTuple.length == 0">
						<p>No events have been posted by other users.</p>
					</div>
					<div ng-repeat="entry in model.eventsFeedTuple"> 
						<md-card>
							<md-card-header>
								<md-card-header-text>
									<a href="/events/{{entry.id}}"><span class="md-title">{{entry.name}}</span></a>
									<div layout="row" layout-xs="column">
										<a class="md-subhead" href="/profile/{{entry.owner.id}}">{{entry.owner.username}}</a>
										<span flex></span>
										<span class="md-subhead">Posted on: {{model.toReadableDate(entry.timestamp)}}</span>
									</div>
								</md-card-header-text>
							</md-card-header>
							<img ng-if="entry.image" ng-src="{{entry.img}}" class="md-card-image">
							<md-card-title>
								<md-card-title-text>
									<span class="md-subhead">
										Time: {{model.condenseDate(entry.timeStart, entry.timeEnd)}}
									</span>
								</md-card-title-text>
							</md-card-title>
							<md-card-content>
								<p ng-bind-html="model.trustHTML(entry.description)"></p>
								<md-divider></md-divider>
								<p>Location: {{entry.location}}</p>
								<p>Admission: {{entry.admission}}</p>
							</md-card-content>
							<md-card-actions layout="row" layout-align="end">
								<md-button class="share-trigger" ng-click="model.shareEventBriteDialog($event, entry)">Share</md-button>
							</md-card-actions>
						</md-card>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="following">
				<md-content class="md-padding feed-frame">
					<div layout="column" layout-sm="column" layout-align="center center" ng-show="model.followingTuple.length == 0">
						<p>The users you're following have not posted any events.</p>
					</div>
					<div ng-repeat="entry in model.followingTuple"> 
						<md-card>
							<md-card-header>
								<md-card-header-text>
									<a href="/events/{{entry.id}}"><span class="md-title">{{entry.name}}</span></a>
									<div layout="row" layout-xs="column">
										<a class="md-subhead" href="/profile/{{entry.owner.id}}">{{entry.owner.username}}</a>
										<span flex></span>
										<span class="md-subhead">Posted on: {{model.toReadableDate(entry.timestamp)}}</span>
									</div>
								</md-card-header-text>
							</md-card-header>
							<img ng-if="entry.image" ng-src="{{entry.img}}" class="md-card-image">
							<md-card-title>
								<md-card-title-text>
									<span class="md-subhead">
										Time: {{model.condenseDate(entry.timeStart, entry.timeEnd)}}
									</span>
								</md-card-title-text>
							</md-card-title>
							<md-card-content>
								<p ng-bind-html="model.trustHTML(entry.description)"></p>
								<md-divider></md-divider>
								<p>Location: {{entry.location}}</p>
								<p>Admission: {{entry.admission}}</p>
							</md-card-content>
							<md-card-actions layout="row" layout-align="end">
								<md-button class="share-trigger" ng-click="model.shareEventBriteDialog($event, entry)">Share</md-button>
							</md-card-actions>
						</md-card>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="my events">
				<md-content class="md-padding feed-frame">
						<div layout="column" layout-sm="column" layout-align="center center" ng-show="model.eventsTuple.length == 0">
							<p>You have not posted any events. Click the '+' button on navigation to make a new event.</p>
						</div>
						<div ng-repeat="entry in model.eventsTuple"> 
							<md-card>
								<md-card-header>
									<md-card-header-text>
										<a href="/events/{{entry.id}}"><span class="md-title">{{entry.name}}</span></a>
										<div layout="row" layout-xs="column">
											<a class="md-subhead" href="/profile/{{entry.owner.id}}">{{entry.owner.username}}</a>
											<span flex></span>
											<span class="md-subhead">Posted on: {{model.toReadableDate(entry.timestamp)}}</span>
										</div>
									</md-card-header-text>
								</md-card-header>
								<img ng-if="entry.image" ng-src="{{entry.img}}" class="md-card-image">
								<md-card-title>
									<md-card-title-text>
										<span class="md-subhead">
											Time: {{model.condenseDate(entry.timeStart, entry.timeEnd)}}
										</span>
									</md-card-title-text>
								</md-card-title>
								<md-card-content>
									<p ng-bind-html="model.trustHTML(entry.description)"></p>
									<md-divider></md-divider>
									<p>Location: {{entry.location}}</p>
									<p>Admission: {{entry.admission}}</p>
								</md-card-content>
								<md-card-actions layout="row" layout-align="end">
									<md-button class="md-primary" ng-click="model.createEventEditDialog($event, entry)">Edit</md-button>
									<md-button class="share-trigger" ng-click="model.shareEventBriteDialog($event, entry)">Share</md-button>
								</md-card-actions>
							</md-card>
						</div>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>
