<div ng-show="!model.loaded" layout="row" layout-align="center center" style="height:256px;">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<md-content ng-show="model.loaded">
	
	<div ng-if="model.followerList.length == 0" layout="row" layout-align="center center" style="margin: 16px;">
		<h3>This user has no followers.</h3>
	</div>
	<md-list flex ng-if="model.followerList.length > 0"> 
		<md-subheader class="md-no-sticky">Followers</md-subheader> 
		<md-list-item class="md-3-line info-entry" ng-repeat="follow in model.followerList" layout="row"> 
			<img ng-src="{{follow.followee.settings.avatar ? follow.followee.settings.avatar : '/images/placeholder.png'}}" class="md-avatar" />
			<div class="md-list-item-text" layout="column">
				<h3>{{ follow.followee.username }}</h3>
				<h4 ng-if="follow.followee.settings.firstName || follow.followee.settings.lastName">
					{{ follow.followee.settings.firstName ? follow.followee.settings.firstName : "" }}
					{{ follow.followee.settings.lastName ? follow.followee.settings.lastName : "" }}
				</h4>
			</div>
			<span flex></span>
				
			<md-button ng-show="$root.sessionId && $root.sessionId != follow.followee.id && model.isSessionFollowing(follow.followee.id)" 
				class="md-raised info-button" 
				ng-click="model.unfollowUser(follow.followee.id)">
				<md-icon ng-bind="'check'" aria-label="Unfollow user"></md-icon>
				Following
			</md-button>
			<md-button ng-show="$root.sessionId && $root.sessionId != follow.followee.id && !model.isSessionFollowing(follow.followee.id)" 
				class="md-raised md-primary info-button" 
				ng-click="model.followUser(follow.followee.id)">
				Follow
			</md-button>
		</md-list-item>
	</md-list>
</md-content>