<div ng-show="!model.loaded" layout="row" layout-align="center center" style="height:256px;">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<md-content ng-show="model.loaded">
	<div ng-if="model.followingList.length == 0" layout="row" layout-align="center center" style="margin: 16px;">
		<h3>This user is not following anyone.</h3>
	</div>
	<md-list class="md-dense" ng-if="model.followingList.length > 0" flex> 
		<md-subheader class="md-no-sticky">Following</md-subheader> 
		<md-list-item class="md-3-line info-entry" ng-repeat="follow in model.followingList" layout="row"> 
			<img ng-src="{{follow.follower.settings.avatar ? follow.follower.settings.avatar : '/images/placeholder.png'}}" class="md-avatar" />
			<div class="md-list-item-text" layout="column" ng-click="null">
				<h3>{{ follow.follower.username }}</h3>
				<h4 ng-if="follow.follower.settings.firstName || follow.follower.settings.lastName">
					{{ follow.follower.settings.firstName ? follow.follower.settings.firstName : "" }}
					{{ follow.follower.settings.lastName ? follow.follower.settings.lastName : "" }}
				</h4>
			</div>
			<span flex></span>
			<md-button ng-show="($root.sessionId && $root.sessionId != follow.follower.id && model.isSessionFollowing(follow.follower.id))" 
						class="md-raised info-button" 
						ng-click="model.unfollowUser(follow.follower.id)">
				<md-icon ng-bind="'check'" aria-label="Unfollow user"></md-icon>
				Following
			</md-button>
			<md-button ng-show="$root.sessionId && $root.sessionId != follow.follower.id && !model.isSessionFollowing(follow.follower.id)" 
						class="md-raised md-primary info-button" 
						ng-click="model.followUser(follow.follower.id)">
				Follow
			</md-button>
		</md-list-item>
	</md-list>
</md-content>