<div layout="column" flex layout-fill ng-cloak>

	<md-toolbar md-scroll-shrink layout="row">
		<div class="md-toolbar-tools">Inbox</div>
		<md-button class="md-icon-button" aria-label="Create new Message" ng-click="model.composeMessageDialog($event)"
		style="margin-top: 13px; margin-bottom: 13px;">
			<md-icon ng-bind="'add'"></md-icon>
		</md-button>
		<md-button class="md-icon-button" aria-label="Refresh conversations" ng-click="model.findConversationsForUser()"
		style="margin-top: 13px; margin-bottom: 13px;">
			<md-icon ng-bind="'refresh'"></md-icon>
		</md-button>
	</md-toolbar>

	<md-content style="height: 673px;">
		<section ng-if="model.unreadMessages.length > 0">
			<md-subheader class="md-primary">Unread Messages</md-subheader>
				<md-list layout="column" layout-padding> 
					<md-list-item layout="row" class="md-3-line" ng-repeat="convo in model.unreadMessages" 
					href="/main/{{$root.sessionId}}/inbox/{{convo.conversation.id}}" ng-show="!model.hideArchivedEntry(convo)"> 
						<img class="md-avatar" src="images/placeholder.png" 
							ng-if="!convo[model.getRecipientFocus(convo)].settings.avatar">
						<img class="md-avatar" src="{{convo[model.getRecipientFocus(convo)].settings.avatar}}" 
							ng-if="convo[model.getRecipientFocus(convo)].settings.avatar">
						<div class="md-list-item-text">
							<h3>{{convo[model.getRecipientFocus(convo)].username}}</h3>
							<h4>{{convo.message}}</h4>
							<p>{{model.toReadableDate(convo.timestamp)}}</p>
						</div>
						<span flex></span>
						<md-button class="md-icon-button md-warn" aria-label="Archive conversation" ng-click="model.archiveConversation(convo)">
							<md-icon ng-bind="'delete'"></md-icon>
							<md-tooltip md-direction="bottom">Archive</md-tooltip>
						</md-button>
					</md-list-item>
				</md-list>
		</section>
		<section>
			<md-subheader ng-if="model.conversationTuple.length > 0" class="md-accent">Conversations</md-subheader>
			<div ng-if="model.conversationTuple.length == 0 && model.unreadMessages.length == 0" layout="row" layout-align="center center">
				<p>There are no messages at this time</p>
			</div>
			<md-list layout="column" layout-padding> 
				<md-list-item layout="row" class="md-3-line" ng-repeat="convo in model.conversationTuple" 
				href="/main/{{$root.sessionId}}/inbox/{{convo.conversation.id}}" ng-show="!model.hideArchivedEntry(convo)"> 
					<img class="md-avatar" src="images/placeholder.png" 
						ng-if="!convo[model.getRecipientFocus(convo)].settings.avatar">
					<img class="md-avatar" src="{{convo[model.getRecipientFocus(convo)].settings.avatar}}" 
						ng-if="convo[model.getRecipientFocus(convo)].settings.avatar">
					<div class="md-list-item-text">
						<h3>{{convo[model.getRecipientFocus(convo)].username}}</h3>
						<h4>{{convo.message}}</h4>
						<p>{{model.toReadableDate(convo.timestamp)}}</p>
					</div>
					<span flex></span>
					<md-button class="md-icon-button md-warn" aria-label="Archive conversation" ng-click="model.archiveConversation(convo)">
						<md-icon ng-bind="'delete'"></md-icon>
						<md-tooltip md-direction="bottom">Archive</md-tooltip>
					</md-button>
				</md-list-item>
			</md-list>
		</section>
	</md-content>

</div>