<div ng-show="!model.loaded">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<md-content ng-show="model.loaded">
	<div ng-if="model.eventData.interestedUsers.length == 0">
		<h3>This event has no interested users.</h3>
	</div>
	<md-list flex ng-if="model.eventData.interestedUsers.length > 0"> 
		<md-subheader class="md-no-sticky">Interested Users</md-subheader> 
		<md-list-item class="md-3-line info-entry" ng-repeat="interest in model.eventData.interestedUsers" layout="row"> 
			<img ng-src="{{interest.user.settings.avatar ? interest.user.settings.avatar : '/images/placeholder.png'}}" class="md-avatar" />
			<div class="md-list-item-text" layout="column">
				<h3>{{ interest.user.username }}</h3>
				<h4 ng-if="interest.user.settings.firstName || interest.user.settings.lastName">
					{{ interest.user.settings.firstName ? interest.user.settings.firstName : "" }}
					{{ interest.user.settings.lastName ? interest.user.settings.lastName : "" }}
				</h4>
			</div>
			<span flex></span>
			<md-button ng-if="$root.sessionId && $root.sessionId != interest.user.id && model.isSessionFollowing(interest.user.id)" 
						class="md-raised info-button" 
						ng-click="model.unfollowUser(interest.user.id)">
				<md-icon ng-bind="'check'" aria-label="Unfollow user"></md-icon>
				Following
			</md-button>
			<md-button ng-if="$root.sessionId && $root.sessionId != interest.user.id && !model.isSessionFollowing(interest.user.id)" 
						class="md-raised md-primary info-button" 
						ng-click="model.followUser(interest.user.id)">
				Follow
			</md-button>
		</md-list-item>
	</md-list>
</md-content>