<div layout="column" layout-align="center center">
	<div id="effectPanel" layout="column" layout-align="center center" flex>
		<span flex></span>
		<div id="intro" layout="column" layout-align="center center" flex>
			<h1>Soiree</h1>
			<p>The ultimate social networking tool for the events that you love</p>
			<md-button class="md-raised" href="/register">Get Started</md-button>
		</div>
		<span flex></span>
	</div>
</div>
<div layout="column">
	<div layout="row" class="launch-cover" layout-align="start center" flex>
		<div class="launch-image">
			<h1>Explore a vast selection of events</h1>
			<h5>Soiree Lets you explore your favorite events by anything which interests you. 
			You can even explore events in various locations and plan ahead. Explore through events 
			outside of Soiree using the explore feed backed by EventBrite technology or explore events posted within Soiree
			</h5>
		</div>
		<span flex></span>
		<div class="launch-image">
			<img src="images/evententry.png">
		</div>
	</div>
	<div layout="row" flex layout-align="start center">
		<div class="launch-image">
			<img src="images/message_sample.png">
		</div>
		<span flex></span>
		<div>
			<h1>Get connected</h1>
			<h5>Connect with other users and collaborate on upcoming events using Soiree's messaging system. 
			You can also reach out to their favorite bands and venues for upcoming festivities and shows and much more.</h5>
		</div>
	</div>
	<div layout="row" class="launch-cover" layout-align="start center" flex>
		<div class="launch-image">
			<h1>Promote your brand</h1>
			<h5>Soiree has a handful of tools for venues and talents to reach out to their audience for upcoming events. 
			Soiree gives high priority to venues and talents so that they can get the event outcome that matters most. </h5>
		</div>
		<span flex></span>
		<div class="launch-image">
			<img src="images/event_sample.png">
		</div>
	</div>
</div>


