<md-content layout="column" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak">
	<div ng-if="model.message" layout="row" style="height: 56px;">
		<span flex></span>
		<md-whiteframe class="md-whiteframe-5dp" ng-class="model.deviseStatusMessage()" flex="60" flex-xs="100" flex-sm="100" layout layout-align="center center">	
			<span>{{model.message.message}}</span>
		</md-whiteframe>
		<span flex></span>
	</div>
	<div layout="row">
		<span flex></span>
		<md-card flex="60" flex-xs="100" flex-sm="100">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<strong>Login</strong>
				</div>
			</md-toolbar>
			<md-card-content flex>
				<form name="loginForm" layout="column" ng-keyup="$event.keyCode == 13 && model.login(username, password)">
					<md-input-container class="md-block" flex>
						<label>Username</label>
						<input ng-model="username" ng-required="true">
					</md-input-container>
					<md-input-container class="md-block" flex>
						<label>Password</label>
						<input type="password" ng-model="password" ng-required="true">
					</md-input-container>
					<md-button ng-disabled="!loginForm.$valid" ng-click="model.login(username, password)" class="md-raised">Login</md-button>
					<md-button href="./register" class="md-raised md-primary">Sign Up</md-button>
				</form>
			</md-card-content>
		</md-card>
		<span flex></span>
	</div>
</md-content>