<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
	
		<strong ng-if="$root.sessionId" flex md-truncate><a href="/main/{{$root.sessionId}}">Soiree</a></strong>
		<strong ng-if="!$root.sessionId" flex md-truncate><a href="/">Soiree</a></strong>
		
		<span flex></span>
		<md-input-container hide show-gt-sm md-no-float class="md-block search-bar md-accent">
			<md-icon ng-bind="'search'"></md-icon>
			<input ng-model="searchKeyword" type="text" placeholder="Search all of Soiree" ng-keyup="$event.keyCode == 13 && menubar.search(searchKeyword)">
		</md-input-container>
		<span flex></span>
		
		<div hide show-gt-sm>
			<md-button ng-if="!$root.sessionId" class="md-raised" href="/login">Login</md-button>
			<md-button ng-if="!$root.sessionId" class="md-raised" href="/register">Register</md-button>
			
			<md-button ng-if="$root.sessionId && $root.userData.type == 'ADMIN'" class="md-icon-button" href="/admin">
				<md-tooltip md-direction="bottom">Administrator Controls</md-tooltip>
				<md-icon ng-bind="'gavel'"></md-icon>
			</md-button>
		
			<md-button ng-if="$root.sessionId" class="md-icon-button" ng-click="menubar.createEventDialog($event)">
				<md-tooltip md-direction="bottom">Create event</md-tooltip>
				<md-icon ng-bind="'add_box'"></md-icon>
			</md-button>

			<md-button ng-if="$root.sessionId" class="md-icon-button" href="/main/{{$root.sessionId}}/inbox">
				<md-tooltip md-direction="bottom">Inbox</md-tooltip>
				<md-icon ng-bind="'inbox'"></md-icon>
			</md-button>
		</div>
		
		<md-menu ng-if="$root.sessionId" md-offset="0 60" md-position-mode="target-right target" hide show-gt-sm>
			<md-button style="width: 128px;" aria-label="Open menu" ng-click="menubar.openMainMenu($mdOpenMenu, $event)">
				<div md-menu-origin layout="row">					
					<img class="toolbar-avatar" ng-src="{{$root.userData.settings.avatar ? $root.userData.settings.avatar : '/images/placeholder.png'}}" />
					<span flex="10"></span>
					<span>{{$root.userData.username}}</span>
				</div>
			</md-button>
			<md-menu-content width="4">
				<md-menu-item>
					<md-button ng-disabled="!$root.sessionId" ng-click="$mdMenu.close()" href="/profile/{{$root.sessionId}}">
						<span md-menu-align-target>
							<md-icon md-menu-origin ng-bind="'account_box'"></md-icon>Profile
						</span>
					</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button ng-disabled="!$root.sessionId" ng-click="$mdMenu.close()" href="/main/{{$root.sessionId}}/settings">
						<span md-menu-align-target>
							<md-icon md-menu-origin ng-bind="'settings'"></md-icon>Settings
						</span>
					</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button ng-click="menubar.logout()">
						<span md-menu-align-target>
							<md-icon md-menu-origin ng-bind="'exit_to_app'"></md-icon>Logout
						</span>
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</md-toolbar>