<div layout="row" layout-sm="column" layout-align="center center" ng-show="!model.profileLoaded">
	<md-progress-circular md-mode="indeterminate" md-diameter="90"></md-progress-circular>
</div>
<div id="profileContent" ng-show="model.profileLoaded">
	<div id="profileHeader" layout="row" layout-align="center center">
		<md-card flex="95" md-theme-watch>
			<md-card-title layout="column">
				<md-card-title-text flex layout="column" layout-align="start center">
					<span class="md-headline">{{model.user.username}}</span>
					<div ng-if="model.user.type == 'VENUE'" layout="column" layout-align="center center">
						<span class="md-headline">{{model.user.settings.venue}}</span>
						<span class="md-subhead">{{model.user.settings.category}}</span>
					</div>
					<div ng-if="model.user.type == 'TALENT'" layout="column" layout-align="center center">
						<span class="md-headline">{{model.user.settings.alias}}</span>
						<span class="md-subhead">{{model.user.settings.specialization}}</span>
					</div>
					<span class="md-subhead" ng-if="model.user.settings.firstName || model.user.settings.lastName">
						({{model.user.settings.firstName}} {{model.user.settings.lastName}})
					</span>
 					<img src="{{model.user.settings.avatar ? model.user.settings.avatar : 'images/placeholder.png'}}" 
 						class="circle responsive-img avatar">
 					<div id="nonOwnerControls" ng-if="!model.isOwner() && $root.sessionId">
 						<md-button ng-if="!model.isFollowing" class="md-raised md-primary" ng-click="model.followUser()">Follow</md-button>
 						<md-button ng-if="model.isFollowing" class="md-raised info-button" ng-click="model.unfollowUser()" style="margin-top: 4px">
							<md-icon ng-bind="'check'" aria-label="Unfollow user"></md-icon>
							Following
						</md-button>
 					</div>
 				</md-card-title-text>
 			</md-card-title>
 			<md-card-footer layout="row" layout-align="space-around center">
				<div layout="column" flex layout-align="space-around center" ng-click="null">
					<a href="/profile/{{model.user.id}}/followers" layout="column" layout-align="center center" class="md-accent" style="text-decoration: none;">
						<span>Followers</span>
						<strong>{{model.user.stats.followers}}</strong>
					</a>
				</div>
				<div layout="column" flex layout-align="space-around center" ng-click="null">
					<a href="/profile/{{model.user.id}}/following" layout="column" layout-align="center center" class="md-accent" style="text-decoration: none;">
						<span>Following</span>
						<strong>{{model.user.stats.following}}</strong>
					</a>
				</div>
				<div layout="column" flex layout-align="space-around center" ng-click="null">
					<a href="/profile/{{model.user.id}}/events" layout="column" layout-align="center center" class="md-accent" style="text-decoration: none;">
						<span>Events</span>
						<strong>{{model.user.stats.events}}</strong>
					</a>
				</div>
 			</md-card-footer>
		</md-card>
	</div>
	<div id="profileBody" layout="row" layout-sm="column" layout-xs="column" layout-align="space-around start">
		<div id="profileStats" flex="35" flex-sm="100" flex-xs="100" layout="column">
			<md-card md-theme-watch flex>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Bio</span>
	 				</md-card-title-text>
	 			</md-card-title>
	 			<md-card-content>
					<p ng-show="!model.user.settings.bio">None</p>
					<p ng-show="model.user.settings.bio">
						{{model.user.settings.bio}}
					</p>
				</md-card-content>
			</md-card>
			<md-card ng-show="model.user.members.length > 0" md-theme-watch flex>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Members</span>
	 				</md-card-title-text>
	 			</md-card-title>
	 			<md-card-content>
					<div layout="row">
						<span ng-repeat="member in model.user.members | limitTo: 10">
							<a href="/profile/{{member.id}}">
								<img src="images/placeholder.png" ng-if="!member.settings.avatar" class="circle avatar-attend" />
								<md-tooltip md-direction="bottom">{{member.username}}</md-tooltip>
							</a>
							<a href="/profile/{{member.id}}">
								<img src="{{member.settings.avatar}}" ng-if="member.settings.avatar" class="circle avatar-attend" />
								<md-tooltip md-direction="bottom">{{member.username}}</md-tooltip>
							</a>
						</span>
					</div>
				</md-card-content>
			</md-card>
			<md-card md-theme-watch flex>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Other Information</span>
	 				</md-card-title-text>
	 			</md-card-title>
	 			<md-card-content>
					<md-list flex>
						<md-list-item ng-if="(model.user.type == 'USER' || model.user.type == 'TALENT') && model.user.settings.birthday">
							<p>Birthday</p>
							<p class="stats-num-val">{{model.user.settings.birthday.toLocaleDateString()}}</p>
						</md-list-item>
						<md-list-item>
							<p>Email</p>
							<p class="stats-num-val">{{model.user.email}}</p>
						</md-list-item>
						<md-list-item ng-if="model.user.settings.phone">
							<p>Contact Number</p>
							<p class="stats-num-val">{{model.user.settings.phone}}</p>
						</md-list-item>
						<md-list-item ng-if="model.user.settings.website">
							<p>Website</p>
							<p class="stats-num-val">{{model.user.settings.website}}</p>
						</md-list-item>
					</md-list>
				</md-card-content>
			</md-card>
			<md-card md-theme-watch flex>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Interests</span>
	 				</md-card-title-text>
	 			</md-card-title>
	 			
	 			<md-card-content>
	 				<p ng-if="model.userInterestDisplay.length == 0">This user has no interests for now.</p>
					<md-chips ng-if="model.userInterestDisplay.length > 0" ng-model="model.userInterestDisplay" name="interests" readonly="true">
				</md-card-content>
			</md-card>
			<md-card md-theme-watch flex>
	 			<md-card-content>
					<md-list flex>
						<md-list-item>
							<p>Event Attendance</p>
							<p class="stats-num-val">{{model.user.stats.attendance}}</p>
						</md-list-item>
 						<md-divider></md-divider>
						<md-list-item>
							<p>Events Interested In</p>
							<p class="stats-num-val">{{model.user.stats.interestCount}}</p>
						</md-list-item>
					</md-list>
				</md-card-content>
			</md-card>
		</div>
		<div id="profileFeed" flex="60" flex-sm="100" flex-xs="100">
			<md-card ng-if="$root.sessionId">
				<md-card-actions>
					<p class="md-title">Posts</p>
					<p class="md-subhead">Write a post</p>
					<form name="createPostForm">
						<md-input-container class="md-block">
							<textarea ng-model="model.postContent" aria-label="Write a new post" rows="3" ng-required="true" md-select-on-focus></textarea>
						</md-input-container>
						<md-button ng-disabled="!createPostForm.$valid" class="md-raised md-primary" ng-click="model.submitPost(model.postContent); model.postContent = ''">Submit</md-button>
					</form>
				</md-card-actions>
			</md-card>
			<div ng-repeat="entry in model.profilePosts" ng-init="model.postInit(entry.post)">
				<md-card>
					<md-card-header>
						<md-card-avatar>
							<img src="images/placeholder.png" ng-if="!entry.post.owner.settings.avatar" />
							<img src="{{entry.post.owner.settings.avatar}}" ng-if="entry.post.owner.settings.avatar" />
						</md-card-avatar>
						<md-card-header-text>
							<div layout="row">
								<div layout="column">
									<a style="text-decoration: none;" class="md-accent" href="/profile/{{entry.post.owner.id}}">
										<span class="md-title">{{entry.post.owner.username}}</span>
									</a>
									<span class="md-subhead">{{model.toReadableDate(entry.post.timestamp)}}</span>
								</div>
								<span flex></span>
								<div ng-if="model.isEntryOwner(entry.post) || model.isOwner()">
									<md-button ng-if="model.isEntryOwner(entry.post)" class="md-icon-button" 
										ng-click="entry.post.isEditing = !entry.post.isEditing; entry.post.editPostContent = entry.post.content;"> 
										<md-icon ng-bind="'mode_edit'" aria-label="Edit Post" ></md-icon>
										<md-tooltip md-direction="bottom">Edit Post</md-tooltip>
									</md-button>
									<md-button class="md-icon-button" ng-click="model.deletePost(entry.post.id)"> 
										<md-icon ng-bind="'close'" aria-label="Delete Post"></md-icon>
										<md-tooltip md-direction="bottom">Delete Post</md-tooltip>
									</md-button>
								</div>
							</div>
						</md-card-header-text>
					</md-card-header>
					<md-divider></md-divider>
					<md-card-content>
						<span ng-show="!entry.post.isEditing">{{entry.post.content}}</span>
						<div ng-if="entry.post.attachment && entry.post.attachmentPresent"><div event-thumb e-data="{{entry.post.attachment}}"></div></div>
						<form name="postEditingForm" ng-show="entry.post.isEditing">
							<div layout="row">
								<p class="md-subhead">Edit Post</p>
								<span flex></span>
								<md-button ng-show="entry.post.isEditing && entry.post.attachmentPresent != undefined" class="md-icon-button md-accent" 
									ng-click="entry.post.attachmentPresent = !entry.post.attachmentPresent">
									<md-icon ng-bind="entry.post.attachmentPresent ? 'delete' : 'undo'" aria-label="Remove attachment"></md-icon>
									<md-tooltip md-direction="bottom">{{entry.post.attachmentPresent ? 'Remove Attachment' : 'Undo Remove'}}</md-tooltip>
								</md-button>	
							</div>

							<md-input-container class="md-block">
								<textarea ng-model="entry.post.editPostContent" rows="2" aria-label="Edit post text" ng-required="true" md-select-on-focus></textarea>
							</md-input-container>
							<md-button ng-disabled="!postEditingForm.$valid" class="md-raised md-primary" 
								ng-click="model.editPost(entry.post, entry.post.editPostContent); entry.post.editPostContent = ''">
								Submit
							</md-button>
						</form>
					</md-card-content>
					<md-divider></md-divider>
						<md-card-actions layout="row" layout-align="center center">
							<md-button ng-if="$root.sessionId" class="md-icon-button" aria-label="Thumbs Up" ng-click="model.ratePost(entry.post.id, 1)">
								<md-icon ng-bind="'thumb_up'" ng-class="{ 'md-green': entry.post.userRating == 1}"></md-icon>
							</md-button>
							<span>{{entry.post.rating}}</span>
							<md-button ng-if="$root.sessionId" class="md-icon-button" aria-label="Thumbs Down" ng-click="model.ratePost(entry.post.id, -1)">
								<md-icon ng-bind="'thumb_down'" ng-class="{ 'md-red': entry.post.userRating == -1}"></md-icon>
							</md-button>
						</md-card-actions>
					<md-divider></md-divider>
					<md-card-content>
						<div layout="row" layout-align="center center" ng-if="entry.post.comments.length == 0">
							No comments to display.
						</div>
						<div layout="row" ng-repeat="comment in entry.post.comments" class="comment-bubble" ng-init="comment.isEditing = false">
							<img src="images/placeholder.png" class="circle responsive-img avatar-comment"
									ng-if="!comment.owner.settings.avatar">
							<img src="{{comment.owner.settings.avatar}}" class="circle responsive-img avatar-comment"
									ng-if="comment.owner.settings.avatar">
							<div class="comment-frame">
								<p ng-show="!comment.isEditing" class="comment-content">
									<a class="md-accent" href="/profile/{{comment.owner.id}}">{{comment.owner.username}}</a>
									: {{comment.content}}
								</p>
								<form name="commentEditForm" ng-show="comment.isEditing" class="comment-content">
									<md-input-container class="md-block" layout="row" layout-align="end center">
										<textarea ng-model="comment.editCommentContent" aria-label="Edit Comment" rows="2" ng-required="true" md-select-on-focus></textarea>
										<md-button ng-disabled="!commentEditForm.$valid" class="md-raised md-primary" style="margin-left: 0" 
											ng-click="model.editComment(comment.id, comment.editCommentContent); comment.editCommentContent = ''">
											Submit
										</md-button>
									</md-input-container>
								</form>
								<div layout="row">
									<p class="comment-content comment-timestamp">{{model.toReadableDate(comment.timestamp)}}</p>
									<span flex></span>
									<p class="comment-content comment-timestamp" ng-if="model.isEntryOwner(comment) || model.isOwner()">
										<a ng-if="model.isEntryOwner(entry.post)" class="md-accent edit-controls-comment" 
											ng-click="comment.isEditing = !comment.isEditing; comment.editCommentContent = comment.content;">
												{{comment.isEditing ? "Cancel" : "Edit"}}
										</a>
										<a class="md-accent edit-controls-comment" ng-click="model.deleteComment(comment.id)">Delete</a>
									</p>
								</div>
							</div>
						</div>
					</md-card-content>
					<md-divider></md-divider>
					<md-card-actions ng-if="$root.sessionId">
					<form name="commentPostForm">
						<md-input-container class="md-block">
							<textarea ng-model="commentContent" rows="1" placeholder="Write a comment" ng-required="true" md-select-on-focus></textarea>
						</md-input-container>
						<md-button ng-disabled="!commentPostForm.$valid" class="md-raised md-primary" 
							ng-click="model.submitComment(entry.post.id, commentContent); commentContent = ''">
							Submit
						</md-button>
					</form>
					</md-card-actions>
				</md-card>
			</div>
		</div>
	</div>
</div>


