<div ng-show="!model.loaded">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<md-content ng-show="model.loaded">
	<div ng-if="model.eventList.length == 0" layout="row" layout-align="center center" style="margin: 16px;">
		<h3>This user has no events.</h3>
	</div>
	<div ng-repeat="entry in model.eventList"> 
		<md-card>
			<md-card-header>
				<md-card-header-text>
					<a href="/events/{{entry.id}}"><span class="md-title">{{entry.name}}</span></a>
					<div layout="row">
						<a class="md-subhead" href="/profile/{{entry.owner.id}}">{{entry.owner.username}}</a>
						<span flex></span>
						<span class="md-subhead">Posted on: {{model.toReadableDate(entry.timestamp)}}</span>
					</div>
				</md-card-header-text>
			</md-card-header>
			<img ng-if="entry.image" ng-src="{{entry.img}}" class="md-card-image">
			<md-card-title>
				<md-card-title-text>
					<span class="md-subhead">
						Time: {{model.condenseDate(entry.timeStart, entry.timeEnd)}}
					</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p ng-bind-html="model.trustHTML(entry.description)"></p>
				<md-divider></md-divider>
				<p>Location: {{entry.location}}</p>
				<p>Admission: {{entry.admission}}</p>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end">
				<md-button ng-if="model.isOwner()" class="md-primary" ng-click="model.createEventEditDialog($event, entry)">Edit</md-button>
				<md-button ng-if="$root.sessionId" class="share-trigger" ng-click="model.shareEventDialog($event, entry)">Share</md-button>
			</md-card-actions>
		</md-card>
	</div>
</md-content>