<md-content layout="column" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak">
	<div ng-if="model.message" layout="row" style="height: 56px;">
		<span flex></span>
		<md-whiteframe class="md-whiteframe-5dp" ng-class="model.deviseStatusMessage()" flex="60" flex-xs="100" flex-sm="100" layout layout-align="center center">	
			<span>{{model.message.message}}</span>
		</md-whiteframe>
		<span flex></span>
	</div>
	<div layout="row">
		<span flex></span>
		<md-card flex="60" flex-xs="100" flex-sm="100">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<strong>Register</strong>
				</div>
			</md-toolbar>
			<md-card-content>
				<form name="registerForm" layout="column">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Username</label>
						<input ng-model="username" ng-required="true">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Password</label>
						<input type="password" ng-model="password" ng-required="true">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Verify Password</label>
						<input type="password" ng-model="verify" ng-required="true">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Email</label>
						<input ng-model="email" type="email" ng-required="true">
					</md-input-container>
					<md-button ng-disabled="!registerForm.$valid" ng-click="model.register(username, password, verify, email)" class="md-raised md-primary">Register</md-button>
					<md-button href="./login" class="md-raised">Sign in</md-button>
				</form>
			</md-card-content>
		</md-card>
		<span flex></span>
	</div>

</md-content>