<div layout="column" flex layout-fill ng-cloak>
	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">Search Results</div>
	</md-toolbar>
	<md-content style="height: 100%;">
		<section>
			<md-subheader class="md-primary">Users</md-subheader>
			<div layout="column" ng-show="model.searchComposite[0].length == 0" layout-padding>
				<p>No results.</p>
			</div>
			<div ng-show="!model.canShowResults(model.userProgress, model.searchComposite[0])" 
				layout="row" layout-sm="column">
				<md-progress-linear md-mode="indeterminate"></md-progress-linear>
			</div>
			<div 
				ng-show="model.canShowResults(model.userProgress, model.searchComposite[0])"
				ng-repeat="user in model.searchComposite[0]" ng-init="model.initUserResults(user)" 
				layout="row" layout-align="center center" >
				<md-list layout-padding> 
					<md-list-item class="md-2-line"> 
						<img ng-if="!user.settings.avatar" src="images/placeholder.png" class="md-avatar" />
						<img ng-if="user.settings.avatar" ng-src="{{user.settings.avatar}}" class="md-avatar">
						<div class="md-list-item-text">
							<h3 class="md-head"><a class="md-primary" href="/profile/{{user.id}}">{{user.username}}</a></h3>
							<h4 class="md-subhead">Followers: {{user.followers}} - Following: {{user.following}}</h4>
						</div>
						
					</md-list-item>
				</md-list>
				<span flex></span>
				<div ng-if="$root.sessionId && user.id != $root.sessionId">
					<md-button ng-show="!model.isSessionFollowing(user.id)" class="md-raised md-primary" ng-click="model.followUser(user)">Follow</md-button>
					<md-button ng-show="model.isSessionFollowing(user.id)" class="md-raised md-green" ng-click="model.unfollowUser(user)">
						<md-icon ng-bind="'check'"></md-icon>&nbsp;Following
					</md-button>
				</div>
			</div>
		</section>
		<section>
			<md-subheader class="md-accent">Soiree Events</md-subheader>
			<div layout="column" ng-show="model.searchComposite[1].length == 0" layout-padding>
				<p>No results.</p>
			</div>
			<div ng-show="!model.canShowResults(model.eventProgress, model.searchComposite[1])" 
				layout="row" layout-sm="column">
				<md-progress-linear md-mode="indeterminate"></md-progress-linear>
			</div>
			<md-list layout="column" layout-padding>
				<md-list-item 
					ng-show="model.canShowResults(model.eventProgress, model.searchComposite[1])"
					class="md-5-line" ng-repeat="event in model.searchComposite[1]" ng-init="model.getEventStats(event)"> 
					
					<div layout="row" flex>
						<div class="md-list-item-text">
							<h2 class="md-head"><a class="md-primary" href="/events/{{event.id}}">{{event.name}}</a></h2>
							<h3>Location: {{event.location}}</h3>
							<h4>Time: {{model.condenseDate(event.timeStart, event.timeEnd)}}</h4>
							<h5>Admission: ${{event.admission}}</h5>
							<p>{{event.description}}</p>
							<p>{{event.attendCount}} People are going to this event</p>
							<p>{{event.interestCount}} People are interested in this event</p>
						</div>
						<span flex></span>
						<img flex ng-show="event.image" ng-src="{{event.image}}">
					</div>
				</md-list-item> 
			</md-list>
		</section>
		<section>
			<md-subheader>Eventbrite Events</md-subheader>
			<div layout="column" ng-show="model.searchComposite[2][0].events.length == 0" layout-padding>
				<p>No results.</p>
			</div>
			<div ng-show="!model.searchComposite[2][0].events" 
				layout="row" layout-sm="column">
				<md-progress-linear md-mode="indeterminate"></md-progress-linear>
			</div>
			<div ng-show="model.searchComposite[2][0].events" 
				ng-repeat="event in model.searchComposite[2][0].events" layout="row" layout-align="center center">
				<md-list layout="column" layout-padding> 
					<md-list-item class="md-3-line" > 
						<img ng-src="{{event.img}}" class="md-avatar">
						<div class="md-list-item-text">
							<h3>{{event.name}}</h3>
							<h4>{{event.description | limitTo: 128}}</h4>
							<p>Time: {{model.condenseDate(event.start, event.end)}}</p>
						</div>
					</md-list-item>
				</md-list>
				<span flex></span>
				<md-button class="md-raised md-primary" href="{{event.link}}">More Info</md-button>
			</div>
		</section>
	</md-content>
</div>