<div layout="column" ng-cloak class="md-inline-form">
	<div ng-if="model.message" layout="row">
		<md-whiteframe class="md-whiteframe-5dp" ng-class="model.deviseStatusMessage()" flex style="padding: 16px;text-align: center;">	
			<span>{{model.message.message}}</span>
		</md-whiteframe>
	</div>
	<md-card flex="flex">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">General</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			
			<form name="infoForm" layout="column">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Username</label>
					<input ng-model="model.user.username" disabled>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Current Password</label>
					<input type="password" ng-model="model.user.currentPassword">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Password</label>
					<input type="password" ng-model="model.user.password">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Verify Password</label>
					<input type="password" ng-model="model.user.verify">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Email</label>
					<input ng-model="model.user.email">
				</md-input-container>
			</form>
		</md-card-content>
	</md-card>
	<md-card flex="flex">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Profile Information</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<div name="infoForm" layout="column">
				<md-input-container class="md-block" flex-gt-sm>
					<label>First Name</label>
					<input ng-model="model.user.settings.firstName">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Last Name</label>
					<input ng-model="model.user.settings.lastName">
				</md-input-container>
				<md-input-container class="md-block">
					<label>Date of Birth</label>
					<md-datepicker md-hide-icons="calendar" ng-model="model.user.settings.birthday"></md-datepicker>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Summary</label>
					<textarea ng-model="model.user.settings.bio" rows="5" md-select-on-focus></textarea>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Phone number</label>
					<input ng-model="model.user.settings.phone">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Website</label>
					<input ng-model="model.user.settings.website">
				</md-input-container>
				<md-input-container class="md-block">
					<label>Interests</label>
					<md-chips 
						ng-model="model.user.interests" md-autocomplete-snap 
						md-transform-chip="model.transformChip($chip)" 
						md-require-match="true">
						<md-autocomplete
							md-min-length="0"
							md-selected-item="model.selectedItem"
							md-search-text="model.searchText"
							md-items="item in model.querySearch(model.searchText, 'name', model.catalog)"
							md-item-text="item.name"
							placeholder="Find your interests">
							<span md-highlight-text="model.searchText">{{item.name}}</span>
						</md-autocomplete>
						<md-chip-template>
							<span>
								<strong>{{$chip.name}}</strong>
							</span>
						</md-chip-template>
					</md-chips>
				</md-input-container>
				<form id="uploadFile">
					<md-input-container class="md-block">
						<input ng-model="model.user.settings.avatar" placeholder="Enter URL or upload a file">
					</md-input-container>
					<input type="file" name="file">
					<md-button class="md-raised md-primary" style="margin-left: 32px;" ng-click="model.upload('uploadFile')">Upload</md-button>
				</form>
			</div>
		</md-card-content>
	</md-card>
	<md-card flex="flex">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Additional Options</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<md-input-container class="md-block" flex-gt-sm>
				<md-switch ng-disabled="model.user.type == 'ADMIN' || model.user.member" 
							ng-click="model.assignRole()" ng-change="model.isNonUser" 
							ng-model="model.isNonUser" aria-label="Group Talent Venue Options" flex="20" >
					Talent/Venue Controls
				</md-switch>
			</md-input-container>
			<div class="md-block" layout="column" ng-if="model.user.member">
				<p>Currently a member of: {{model.user.member.username}}</p>
				<md-button ng-click="model.user.member = null" class="md-raised md-accent">Revoke Membership</md-button>
				<p>Note: When pressing revoke, changes will only apply when you press the update button</p>
			</div>
			<form name="groupForm" ng-if="model.isNonUser" layout="column">
				<md-input-container>
					<label>Type</label>
					<md-select ng-model="model.selectedRoleVal" flex="30">
						<md-option value="Talent">Talent</md-option>
						<md-option value="Venue">Venue</md-option>
					</md-select>
				</md-input-container>
				<md-input-container class="md-block" ng-if="model.selectedRoleVal == 'Talent'">
					<label>Alias</label>
					<input ng-model="model.user.settings.alias" flex="50">
				</md-input-container>
				<md-input-container class="md-block" ng-if="model.selectedRoleVal == 'Talent'">
					<label>Specialization</label>
					<input ng-model="model.user.settings.specialization" flex="50">
				</md-input-container>
				<md-input-container class="md-block" ng-if="model.selectedRoleVal == 'Venue'">
					<label>Venue Name</label>
					<input ng-model="model.user.settings.venue" flex="50">
				</md-input-container>
				<div style="width: 50%; margin-bottom: 32px;" ng-if="model.selectedRoleVal == 'Venue'">
					<md-autocomplete
						ng-model="model.user.settings.category"
						md-selected-item="model.user.settings.category" 
						md-search-text="model.catSearchText" 
						md-items="item in model.querySearch(model.catSearchText, 'name', model.catalog)" 
						md-item-text="item.name"
						placeholder="Category">
						<span md-highlight-text="model.catSearchText">{{item.name}}</span>
					</md-autocomplete>				
				</div>
				<md-input-container class="md-block" ng-show="model.selectedRoleVal == 'Venue' || model.selectedRoleVal == 'Talent'">
					<label>Members of group</label>
					<md-chips 
						ng-model="model.user.members" md-autocomplete-snap 
						md-transform-chip="model.transformChip($chip)" 
						md-require-match="true">
						<md-autocomplete
							md-min-length="0"
							md-selected-item="model.userSelectedItem"
							md-search-text="model.userSearchText"
							md-items="item in model.querySearch(model.userSearchText, 'username', model.userList)"
							md-item-text="item.username"
							placeholder="Enter members">
							<span md-highlight-text="model.userSearchText">{{item.username}}</span>
						</md-autocomplete>
						<md-chip-template>
							<span>
								<strong> {{$chip.username}}</strong>
							</span>
						</md-chip-template>
					</md-chips>
				</md-input-container>
			</form>
		</md-card-content>
	</md-card>
	<md-button ng-click="model.save()" class="md-raised md-primary">Update</md-button>
	<md-button ng-click="deleteUser(model.user.id)" class="md-raised md-warn">Delete Account</md-button>
</div>