<a href="{{thumb.eData.link}}" class="thumbnail">
	<md-card md-theme-watch>
		<md-card-title layout="column">
			<md-card-title-text> 
				<div class="thumbnail-heading" layout="column">
					<div class="md-media-sm card-media">
						<img src="{{thumb.eData.img}}" width="25%" height="auto"/>
					</div>
					<span class="md-headline">{{thumb.eData.name}}</span> 
					<span class="md-subhead" ng-if="thumb.eData.owner.username">Event by: {{thumb.eData.owner.username}}</span> 
					<p class="md-subhead">{{thumb.eData.description | limitTo : 128}}</p> 
				</div>
			</md-card-title-text> 
			<md-card-content layout="column">
				<span class="md-subhead">
					Time: {{thumb.toReadableDate(thumb.eData.start)}} to {{thumb.toReadableDate(thumb.eData.end)}}
				</span>
				<p class="md-subhead" ng-if="thumb.eData.location">{{thumb.eData.location}}</p>
				<p class="md-subhead" ng-if="thumb.eData.attending">{{thumb.eData.attending.length}} People are going to this event</p>
			</md-card-content>
		</md-card-title> 
	</md-card>
</a>

