<md-dialog aria-label="Create Message" style="width: 80%; height: 60%;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Compose a New Message</h2>
			<span flex></span>
			
			<md-button class="md-icon-button" ng-click="messd.closeDialog()"> 
				<md-icon ng-bind="'close'" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content >
		<form class="md-dialog-content" layout="column" name="messageForm">
				<md-autocomplete
					ng-model="messd.recipient"
					md-selected-item="messd.recipient" 
					md-search-text="messd.userSearchText" 
					md-items="item in messd.querySearch(messd.userSearchText)" 
					md-item-text="item.username"
					md-require-match="true"
					placeholder="Find users"
					ng-required="true">
					<md-item-template>
						<span md-highlight-text="messd.userSearchText">{{item.username}}</span>
					</md-item-template>
					<md-not-found>
						No user was found
					</md-not-found>
				</md-autocomplete>
				<md-input-container class="md-block" md-no-float>
					<textarea ng-model="messd.messageContent" rows="8" placeholder="Write Message" ng-required="true" md-select-on-focus></textarea>
				</md-input-container>
				<md-button ng-disabled="!messageForm.$valid" class="md-raised md-accent" ng-click="messd.sendMessage(messd.recipient.id, $event)">
					Send
				</md-button> 
			</form>
	</md-dialog-content>
</md-dialog>