<md-dialog aria-label="Create User" style="width: 1200px; height: 700px;" >
	<form name="createUserForm" id="createUserForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create User</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="model.closeDialog()"> 
					<md-icon ng-bind="'close'" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div layout="column" ng-cloak class="md-inline-form">
				<md-card flex="flex">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">General</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<div layout="column">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Username</label>
								<input ng-model="model.user.username" ng-required="true">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Password</label>
								<input type="password" ng-model="model.user.password" ng-required="true">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Verify Password</label>
								<input type="password" ng-model="model.verify" ng-required="true">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Email</label>
								<input ng-model="model.user.email" aria-label="Enter user email" ng-required="true">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Role</label>
								<md-select ng-model="model.user.type" ng-required="true" placeholder="Select role for user">
									<md-option value="USER">User</md-option>
									<md-option value="TALENT">Talent</md-option>
									<md-option value="VENUE">Venue</md-option>
									<md-option value="ADMIN">Admin</md-option>
								</md-select>
							</md-input-container>
							<div layout="column">
								<md-input-container class="md-block" ng-if="model.user.type == 'TALENT'">
									<label>Alias</label>
									<input ng-model="model.user.settings.alias" flex="50">
								</md-input-container>
								<md-input-container class="md-block" ng-if="model.user.type == 'TALENT'">
									<label>Specialization</label>
									<input ng-model="model.user.settings.specialization" flex="50">
								</md-input-container>
								<md-input-container class="md-block" ng-if="model.user.type == 'VENUE'">
									<label>Venue Name</label>
									<input ng-model="model.user.settings.venue" flex="50">
								</md-input-container>
								<div style="width: 50%; margin-bottom: 32px;" ng-if="model.user.type == 'VENUE'">
									<md-autocomplete
										ng-model="model.user.settings.category"
										md-selected-item="model.user.settings.category" 
										md-search-text="model.catSearchText" 
										md-items="item in model.querySearch(model.catSearchText, 'name', model.catalog)" 
										md-item-text="item.name"
										placeholder="Category">
										<span md-highlight-text="model.catSearchText">{{item.name}}</span>
									</md-autocomplete>				
								</div>
							</div>
						</div>
					</md-card-content>
				</md-card>
				<md-card flex="flex">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Profile Information</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<div name="infoForm" layout="column">
							<md-input-container class="md-block" flex-gt-sm>
								<label>First Name</label>
								<input ng-model="model.user.settings.firstName">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Last Name</label>
								<input ng-model="model.user.settings.lastName">
							</md-input-container>
							<md-input-container class="md-block">
								<label>Date of Birth</label>
								<md-datepicker md-hide-icons="calendar" ng-model="model.user.settings.birthday"></md-datepicker>
							</md-input-container>
							<md-input-container class="md-block">
								<label>Summary</label>
								<textarea ng-model="model.user.settings.bio" rows="5" md-select-on-focus></textarea>
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Phone number</label>
								<input ng-model="model.user.settings.phone">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Website</label>
								<input ng-model="model.user.settings.website">
							</md-input-container>
							<div layout="column">
								<md-input-container class="md-block">
									<input ng-model="model.user.settings.avatar" placeholder="Enter a URL or upload a file">
								</md-input-container>
								<div layout="row">
									<input type="file" name="file" style="padding-top: 8px;">
									<md-button class="md-raised md-primary" style="margin-left: 32px;" ng-click="model.upload('createUserForm')">Upload</md-button>
								</div>
							</div>
						</div>
					</md-card-content>
				</md-card>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row"> 
			<md-button ng-disabled="!createUserForm.$valid" class="md-raised md-primary" ng-click="model.createUser()">
				Create User
			</md-button> 
		</md-dialog-actions>
	</form>
</md-dialog>