<md-dialog aria-label="Create Post" style="width: 1200px; height: 700px;" >
	<form name="createPostForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create Post</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="model.closeDialog()"> 
					<md-icon ng-bind="'close'" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div layout="column" ng-cloak class="md-inline-form">
				<md-card flex="flex">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">General</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<div layout="column">
							<md-autocomplete
								ng-model="model.post.owner"
								md-selected-item="model.post.owner" 
								md-search-text="model.userSearchText" 
								md-items="item in model.querySearch(model.userSearchText, 'username', model.userList)" 
								md-item-text="item.username"
								md-require-match="true"
								placeholder="Specify Owner"
								md-min-length="0"
								ng-required="true" style="margin-bottom: 16px;">
								<md-item-template>
									<span md-highlight-text="model.userSearchText">{{item.username}}</span>
								</md-item-template>
								<md-not-found>
									No user was found
								</md-not-found>
							</md-autocomplete>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Location</label>
								<md-select ng-model="model.post.location" ng-required="true" placeholder="Select post location (Post type)">
									<md-option value="PROFILE">Profile</md-option>
									<md-option value="EVENT">Event</md-option>
								</md-select>
							</md-input-container>
							<div layout="column">
								<md-autocomplete ng-show="model.post.location == 'PROFILE'"
									ng-model="model.post.profile"
									md-selected-item="model.post.profile" 
									md-search-text="model.userProfileText" 
									md-items="item in model.querySearch(model.userProfileText, 'username', model.userList)" 
									md-item-text="item.username"
									md-require-match="true"
									md-min-length="0"
									placeholder="Specify Owner"
									ng-required="location == 'PROFILE'" style="margin-bottom: 16px;">
									<md-item-template>
										<span md-highlight-text="model.userSearchText">{{item.username}}</span>
									</md-item-template>
									<md-not-found>
										No user was found
									</md-not-found>
								</md-autocomplete>
								<md-autocomplete ng-show="model.post.location == 'EVENT'"
									ng-model="model.post.event"
									md-selected-item="model.post.event" 
									md-search-text="model.eventSearchText" 
									md-items="item in model.querySearch(model.eventSearchText, 'name', model.eventList)" 
									md-item-text="item.name"
									md-require-match="true"
									md-min-length="0"
									placeholder="Specify Event"
									ng-required="location == 'EVENT'" style="margin-bottom: 16px;">
									<md-item-template>
										<span md-highlight-text="model.eventSearchText">{{item.name}}</span>
									</md-item-template>
									<md-not-found>
										No event was found
									</md-not-found>
								</md-autocomplete>
							</div>
							<md-input-container class="md-block">
								<label>Content</label>
								<textarea ng-model="model.post.content" rows="5" ng-required="true" md-select-on-focus></textarea>
							</md-input-container>
						</div>
					</md-card-content>
				</md-card>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row"> 
			<md-button ng-disabled="!createPostForm.$valid" class="md-raised md-primary" ng-click="model.submitPost()">
				Create Post
			</md-button> 
		</md-dialog-actions>
	</form>
</md-dialog>