<md-dialog aria-label="Create Event" style="width: 80%; height: 80%;" >
	<form id="createForm" name="createForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create New Event</h2>
				<span flex></span>
				
				<md-button class="md-icon-button" ng-click="evtdialog.closeDialog()"> 
					<md-icon ng-bind="'close'" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<div ng-if="evtdialog.message" layout="row">
					<md-whiteframe class="md-whiteframe-5dp" ng-class="evtdialog.deviseStatusMessage()" flex style="padding: 16px;text-align: center;">	
						<span>{{evtdialog.message.message}}</span>
					</md-whiteframe>
				</div>
				<md-input-container class="md-block" md-no-float>
					<input placeholder="Name" ng-model="evtdialog.eventTemplate.name" ng-required="true" >
				</md-input-container>
				<md-autocomplete ng-if="$root.userData.type == 'ADMIN'"
					ng-model="evtdialog.eventTemplate.owner"
					md-selected-item="evtdialog.eventTemplate.owner" 
					md-search-text="evtdialog.userSearchText" 
					md-items="item in evtdialog.querySearch(evtdialog.userSearchText)" 
					md-item-text="item.username"
					md-require-match="true"
					placeholder="Specify Owner"
					ng-required="$root.userData.type == 'ADMIN'" 
					style="margin-bottom: 16px;">
					<md-item-template>
						<span md-highlight-text="evtdialog.userSearchText">{{item.username}}</span>
					</md-item-template>
					<md-not-found>
						No user was found
					</md-not-found>
				</md-autocomplete>
				<md-input-container class="md-block" md-no-float>
					<input ng-model="evtdialog.eventTemplate.location" placeholder="Location" ng-required="true">
				</md-input-container>
				<md-switch ng-click="evtdialog.setAllDay()" ng-model="evtdialog.allDay" aria-label="All Day Option">
					All Day
				</md-switch>
				<div layout="row">
					<md-input-container class="md-block">
						<label>Start Day</label>
						<md-datepicker md-hide-icons="calendar" ng-model="evtdialog.eventTemplate.startDate" ng-required="true"></md-datepicker>
					</md-input-container>
					<md-input-container ng-if="!evtdialog.allDay" class="md-block">
						<input type="time" aria-label="Start Time" ng-model="evtdialog.eventTemplate.startTime">
					</md-input-container>
				</div>
				<div layout="row" ng-if="!evtdialog.allDay">
					<md-input-container class="md-block">
						<label>End Day</label>
						<md-datepicker md-hide-icons="calendar" ng-model="evtdialog.eventTemplate.endDate"></md-datepicker>
					</md-input-container>
					<md-input-container class="md-block">
						<input type="time" aria-label="End Time" ng-model="evtdialog.eventTemplate.endTime">
					</md-input-container>
				</div>
				<md-input-container class="md-block" md-no-float>
					<input ng-model="evtdialog.eventTemplate.admission" type="number" step="0.01" placeholder="Price">
				</md-input-container>
				<md-input-container class="md-block" md-no-float>
					<textarea ng-model="evtdialog.eventTemplate.description" rows="8" placeholder="Description" ng-required="true" md-select-on-focus></textarea>
				</md-input-container>
				<div>
					<md-input-container class="md-block">
						<input ng-model="evtdialog.eventTemplate.image" placeholder="Enter URL or upload a file">
					</md-input-container>
					<input type="file" name="file">
					<md-button class="md-raised md-primary" style="margin-left: 32px;" ng-click="evtdialog.upload()">Upload</md-button>
				</div>
			</div>
		</md-dialog-content>
		
		<md-dialog-actions layout="row"> 
			<md-button ng-disabled="!createForm.$valid" class="md-accent" ng-click="evtdialog.addEvent($event)">
				Create Event
			</md-button> 
		</md-dialog-actions>
	</form>
</md-dialog>