<md-dialog aria-label="Create Event" style="width: 1200px; height: 700px;" >
	<form name="editUserForm" id="editUserForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Edit User</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="model.closeDialog()"> 
					<md-icon ng-bind="'close'" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
	
		<md-dialog-content>
			<div layout="column" ng-cloak class="md-inline-form">
				<md-card flex="flex">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">General</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<div layout="column">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Username</label>
								<input ng-model="model.user.username" ng-required="true">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<input ng-model="model.user.email" ng-required="true">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Role</label>
								<md-select ng-model="model.user.type" ng-required="true" placeholder="Select role for user">
									<md-option value="USER">User</md-option>
									<md-option value="TALENT">Talent</md-option>
									<md-option value="VENUE">Venue</md-option>
									<md-option value="ADMIN">Admin</md-option>
								</md-select>
							</md-input-container>
							<div layout="column">
								<div class="md-block" ng-if="model.user.member && model.user.type == 'USER'" layout="column">
									<p>Currently a member of: {{model.user.member.username}}</p>
									<md-button ng-click="model.user.member = null" class="md-raised md-accent">Revoke Membership</md-button>
									<p>Note: When pressing revoke, changes will only apply when you press the update button</p>
								</div>
								<md-input-container class="md-block" ng-if="model.user.type == 'TALENT'">
									<label>Alias</label>
									<input ng-model="model.user.settings.alias" flex="50">
								</md-input-container>
								<md-input-container class="md-block" ng-if="model.user.type == 'TALENT'">
									<label>Specialization</label>
									<input ng-model="model.user.settings.specialization" flex="50">
								</md-input-container>
								<md-input-container class="md-block" ng-if="model.user.type == 'VENUE'">
									<label>Venue Name</label>
									<input ng-model="model.user.settings.venue" flex="50">
								</md-input-container>
								<div style="width: 50%; margin-bottom: 32px;" ng-if="model.user.type == 'VENUE'">
									<md-autocomplete
										ng-model="model.user.settings.category"
										md-selected-item="model.user.settings.category" 
										md-search-text="model.catSearchText" 
										md-items="item in model.querySearch(model.catSearchText, 'name', model.catalog)" 
										md-item-text="item.name"
										placeholder="Category">
										<span md-highlight-text="model.catSearchText">{{item.name}}</span>
									</md-autocomplete>				
								</div>
								<md-input-container class="md-block" ng-show="model.user.type == 'VENUE' || model.user.type == 'TALENT'">
									<label>Members of group</label>
									<md-chips 
										ng-model="model.user.members" md-autocomplete-snap 
										md-transform-chip="model.transformChip($chip)" 
										md-require-match="true">
										<md-autocomplete
											md-min-length="0"
											md-selected-item="model.userSelectedItem"
											md-search-text="model.userSearchText"
											md-items="item in model.querySearch(model.userSearchText, 'username', model.userList)"
											md-item-text="item.username"
											placeholder="Enter members">
											<span md-highlight-text="model.userSearchText">{{item.username}}</span>
										</md-autocomplete>
										<md-chip-template>
											<span>
												<strong> {{$chip.username}}</strong>
											</span>
										</md-chip-template>
									</md-chips>
								</md-input-container>
							</div>
						</div>
					</md-card-content>
				</md-card>
				<md-card flex="flex">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Profile Information</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<div name="infoForm" layout="column">
							<md-input-container class="md-block" flex-gt-sm>
								<label>First Name</label>
								<input ng-model="model.user.settings.firstName">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Last Name</label>
								<input ng-model="model.user.settings.lastName">
							</md-input-container>
							<md-input-container class="md-block">
								<label>Date of Birth</label>
								<md-datepicker md-hide-icons="calendar" ng-model="model.user.settings.birthday"></md-datepicker>
							</md-input-container>
							<md-input-container class="md-block">
								<label>Summary</label>
								<textarea ng-model="model.user.settings.bio" rows="5" md-select-on-focus></textarea>
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Phone number</label>
								<input ng-model="model.user.settings.phone">
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Website</label>
								<input ng-model="model.user.settings.website">
							</md-input-container>
							<md-input-container class="md-block">
								<label>Interests</label>
								<md-chips 
									ng-model="model.user.interests" md-autocomplete-snap 
									md-transform-chip="model.transformChip($chip)" 
									md-require-match="true">
									<md-autocomplete
										md-min-length="0"
										md-selected-item="model.selectedItem"
										md-search-text="model.searchText"
										md-items="item in model.querySearch(model.searchText, 'name', model.catalog)"
										md-item-text="item.name"
										placeholder="Find your interests">
										<span md-highlight-text="model.searchText">{{item.name}}</span>
									</md-autocomplete>
									<md-chip-template>
										<span>
											<strong>{{$chip.name}}</strong>
										</span>
									</md-chip-template>
								</md-chips>
							</md-input-container>
							<div layout="column">
								<md-input-container class="md-block">
									<input ng-model="model.user.settings.avatar" placeholder="Enter a URL or upload a file">
								</md-input-container>
								<div layout="row">
									<input type="file" name="file" style="padding-top: 8px;">
									<md-button class="md-raised md-primary" style="margin-left: 32px;" ng-click="model.upload('editUserForm')">Upload</md-button>
								</div>
							</div>
						</div>
					</md-card-content>
				</md-card>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row"> 
			<md-button class="md-raised md-warn" ng-click="model.deleteUser(model.user.id)">
				Delete User
			</md-button> 
			<md-button ng-disabled="!editUserForm.$valid" class="md-raised md-primary" ng-click="model.saveWithDialog(model.user.id)">
				Edit User
			</md-button> 
		</md-dialog-actions>
	</form>
</md-dialog>