<md-dialog aria-label="Edit Event" style="width: 80%; height: 700px;" >
	<form id="editForm" name="editForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Edit Event</h2>
				<span flex></span>
				
				<md-button class="md-icon-button" ng-click="evtdialog.closeDialog()"> 
					<md-icon ng-bind="'close'" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
	
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<div ng-if="evtdialog.message" layout="row">
					<md-whiteframe class="md-whiteframe-5dp" ng-class="evtdialog.deviseStatusMessage()" flex style="padding: 16px; text-align: center;">	
						<span>{{evtdialog.message.message}}</span>
					</md-whiteframe>
				</div>
				<md-input-container class="md-block" md-no-float>
					<input placeholder="Name" ng-model="evtdialog.eventEditEntity.name" ng-required="true">
				</md-input-container>
				<md-input-container class="md-block" md-no-float>
					<input ng-model="evtdialog.eventEditEntity.location" placeholder="Location" ng-required="true">
				</md-input-container>
				<md-switch ng-model="evtdialog.allDay" aria-label="All Day Option">
					All Day
				</md-switch>
				<div layout="row">
					<md-input-container class="md-block">
						<label>Start Day</label>
						<md-datepicker md-hide-icons="calendar" ng-model="evtdialog.eventEditEntity.startDate"></md-datepicker>
					</md-input-container>
					<md-input-container ng-if="!evtdialog.allDay" class="md-block">
						<input type="time" aria-label="Edit start time of event" ng-model="evtdialog.eventEditEntity.startTime">
					</md-input-container>
				</div>
				<div layout="row" ng-if="!evtdialog.allDay">
					<md-input-container class="md-block">
						<label>End Day</label>
						<md-datepicker md-hide-icons="calendar" ng-model="evtdialog.eventEditEntity.endDate"></md-datepicker>
					</md-input-container>
					<md-input-container class="md-block">
						<input type="time" aria-label="Edit end time of event" ng-model="evtdialog.eventEditEntity.endTime">
					</md-input-container>
				</div>
				<md-input-container class="md-block" md-no-float>
					<input ng-model="evtdialog.eventEditEntity.admission" type="number" step="0.01" placeholder="Price">
				</md-input-container>
				<md-input-container class="md-block" md-no-float>
					<textarea ng-model="evtdialog.eventEditEntity.description" rows="8" placeholder="Description" ng-required="true" md-select-on-focus></textarea>
				</md-input-container>
				<div>
					<md-input-container class="md-block">
						<input ng-model="evtdialog.eventEditEntity.image" placeholder="Enter URL or upload a file">
					</md-input-container>
					<input type="file" name="file">
					<md-button class="md-raised md-primary" style="margin-left: 32px;" ng-click="evtdialog.upload()">Upload</md-button>
				</div>
			</div>
		</md-dialog-content>
		
		<md-dialog-actions layout="row"> 
			<md-button ng-disabled="!editForm.$valid" class="md-primary" ng-click="evtdialog.modifyEvent(evtdialog.eventEditEntity)">
				Modify Event
			</md-button> 
			<md-button class="md-warn" ng-click="evtdialog.deleteEvent(evtdialog.eventEditEntity.id)">
				Delete Event
			</md-button> 
		</md-dialog-actions>
	</form>
</md-dialog>