<md-dialog aria-label="Create Event" style="width: 1200px; height: 400px;" >
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Edit Message</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="model.closeDialog()"> 
				<md-icon ng-bind="'close'" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<form name="editMessageForm" style="padding: 32px;">
			<md-input-container class="md-block">
				<label>Content</label>
				<textarea ng-model="model.message.message" rows="5" ng-required="true" md-select-on-focus></textarea>
			</md-input-container>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row"> 
		<md-button class="md-raised md-warn" ng-click="model.deleteMessage(model.message.id)">
			Delete Message
		</md-button> 
		<md-button ng-disabled="!editMessageForm.$valid" class="md-raised md-primary" ng-click="model.modifyMessage(model.message.id)">
			Edit Message
		</md-button> 
	</md-dialog-actions>
</md-dialog>