<md-dialog aria-label="Edit Post" style="width: 1200px; height: 700px;" >
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Edit Post</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="model.closeDialog()"> 
				<md-icon ng-bind="'close'" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<form name="editPostForm" style="padding: 32px;">
			<md-input-container class="md-block">
				<label>Content</label>
				<textarea ng-model="model.post.content" rows="5" ng-required="true" md-select-on-focus></textarea>
			</md-input-container>
			<div layout="row" ng-if="model.post.attachment">
				<div>
					<div event-thumb e-data="{{model.post.attachment}}"></div>
				</div>
				<md-button class="md-raised md-warn" ng-click="post.attachment = null">
					Delete
				</md-button> 
			</div>
			<div ng-if="model.post.comments.length > 0" layout="column">
				<span class="md-headline">Comments</span>
				<md-list flex>
					<md-list-item class="md-3-line" ng-repeat="comment in model.post.comments" 
						ng-init="comment.isEditing = false; comment.editContent = '';">
						<div class="md-list-item-text" layout="column" layout-align="center start" ng-show="!comment.isEditing">
							<h3>ID: {{ comment.id }}</h3>
							<h4>{{ comment.content | limitTo: 128}}</h4>
							<p>Owner: {{ comment.owner.username }} ({{comment.owner.id}})</p>
						</div>
						<div ng-show="comment.isEditing">
							<ng-form name="commentEditForm">
								<md-input-container class="md-block" layout="row" layout-align="end center">
									<textarea ng-model="comment.editContent" aria-label="Edit comment of this post" name="content" rows="2" md-select-on-focus></textarea>
									<md-button ng-disabled="comment.editContent == ''" class="md-raised md-primary" style="margin-left: 0" 
										ng-click="model.editComment(comment)">
										Submit
									</md-button>
								</md-input-container>
							</ng-form>
						</div>
						<span flex></span>
						<md-button class="md-icon-button" 
							ng-click="comment.isEditing = !comment.isEditing; comment.editContent = comment.content;"> 
							<md-icon ng-bind="'edit'" aria-label="Edit comment"></md-icon>
						</md-button>
						<md-button class="md-icon-button md-warn" ng-click="model.deleteComment(comment.id)"> 
							<md-icon ng-bind="'delete'" aria-label="Delete comment"></md-icon>
						</md-button>
					</md-list-item>
				</md-list>
			</div>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row"> 
		<md-button class="md-raised md-warn" ng-click="model.deletePost()">
			Delete Post
		</md-button> 
		<md-button ng-disabled="!editPostForm.$valid" class="md-raised md-primary" ng-click="model.updatePost()">
			Edit Post
		</md-button> 
	</md-dialog-actions>
</md-dialog>