<md-dialog aria-label="Share Content" style="width: 80%; height: 90%;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Share</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="share.closeDialog()"> 
				<md-icon ng-bind="'close'" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content >
		<form class="md-dialog-content" layout="column" name="shareForm">
			<md-autocomplete
				ng-model="share.recipient"
				md-selected-item="share.recipient" 
				md-search-text="share.userSearchText" 
				md-items="item in share.querySearch(share.userSearchText)" 
				md-item-text="item.username"
				md-require-match="true"
				placeholder="Find users"
				ng-required="true">
				<md-item-template>
					<span md-highlight-text="share.userSearchText">{{item.username}}</span>
				</md-item-template>
				<md-not-found>
					No user was found
				</md-not-found>
			</md-autocomplete>
			<md-input-container class="md-block" md-no-float>
				<textarea ng-model="share.caption" rows="8" placeholder="Write a caption" ng-required="true" md-select-on-focus></textarea>
			</md-input-container>
			<md-button ng-disabled="!shareForm.$valid" class="md-raised md-accent" ng-click="share.sendEventPost(share.recipient, $event)">
				Send
			</md-button>
		</form>	
		<h3 class="md-heading" style="margin-left: 16px;">Attachment preview:</h3>
		<div style="padding: 8px;">
			<div event-thumb e-data="{{share.attachment}}"></div>
		</div>
		
	</md-dialog-content>
</md-dialog>