.md-datepicker-input-container {
	width: 350px;
}

.circle {
	border-radius: 50%;
}

.avatar-comment, .avatar-message {
	margin: 8px 2px 2px 2px;
	width: 32px;
	height: 32px;
}

.avatar {
	margin: 16px;
	width: 128px;
	height: 128px;
}

.avatar-attend {
	margin: 4px;
	width: 32px;
	height: 32px;
}

#profileBody {
	margin-top: 24px;
}

.stats-num-val {
	text-align: right;
}

.feed-frame {
	overflow-y: scroll;
	height: 594px;
}

.comment-frame, .message-frame-recp {
	margin-left: 12px;
	border-radius: 25px;
	border: 1px solid #EEEEEEE;
	background: #EEEEEE;
}

.message-frame-send {
	margin-right: 12px;
	border-radius: 25px;
	border: 1px solid #8C9EFF;
	background: #8C9EFF;
}

.comment-content, .message-content {
	padding: 2px 20px 2px 20px;
}

.comment-indent, .message-indent {
	margin-left: 53px;
}

.comment-timestamp {
	font-size: 10px;
}

.message-timestamp {
	font-size: 10px;
	padding: 6px;
	margin: 4px 4px 4px 13px;
}

.comment-bubble, .message-bubble {
	margin-top: 10px;
	margin-bottom: 10px;
}

.feed-checkbox {
	margin-bottom: 6px;
	font-size: 15px;
}

md-checkbox.md-checked.event-box .md-icon {
	background-color: #42BD41;
	color: #000000;
}

.attending {
	margin-bottom: 0px;
}

.md-green {
	color: rgba(66, 189, 65, 1);
}

.md-red {
	color: rgba(244, 67, 54, 1);
}

.md-success {
	background-color: rgba(66, 189, 65, 1);
	color: #FFFFFF;
}

.md-error {
	background-color: rgba(244, 67, 54, 1);
	color: #FFFFFF;
}

.md-warn-message {
	background-color: rgb(255, 87, 34);
	color: #FFFFFF;
}

.md-primary-message {
	background-color: rgb(40, 53, 147);
	color: #FFFFFF;
}

#eventPostPanel {
	overflow-y: scroll;
	height: calc(100% - 64px);
}

.edit-controls-post {
	width: 12px;
	height: 12px;
	font-size: 12px;
}

.edit-controls-comment, .edit-controls-message {
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.search-bar {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 40px;
	width: 30%;
}

md-input-container.md-input-focused.search-bar ::placeholder {
	color: #FFFFFF;
	font-size: 16px;
}

md-input-container.search-bar ::placeholder {
	color: #FFFFFF;
	font-size: 16px;
}

md-input-container.md-input-has-value.search-bar input {
	color: rgba(255, 255, 255, 0.87);
}

md-input-container.md-input-focused.search-bar input {
	color: rgba(255, 255, 255, 0.87);
}

.thumbnail {
	text-decoration: none;
}

.thumbnail md-card {
	margin-left: 0;
	margin-top: 32px;
}

.thumbnail-heading {
	padding: 24px 24px 24px 0px;
}

.thumbnail md-card-content.layout-column {
	padding-left: 0;
}

#message-feed {
	height: 500px;
	overflow-y: scroll;
}

.new-right-combo {
	margin: 0 0 8px 0;
	padding-left: 20px;
}

.info-panel {
	cursor: pointer;
}

.admin-comments {
	margin: 32px 0 32px 16px
}



#effectPanel {
	width: 100%;
	height: 512px;
	background-color: #000000;
}

#intro {
	position: absolute;
}

#intro h1 {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 85px;
	font-weight: 700;
}

#intro p {
	font-size: 24px;
	color: #FFFFFF;
}

.launch-cover {
	background-color: #536DFE; 
	color: #EEEEEE;"
}

.info-entry {
	padding-left: 16px;
	padding-right: 16px;
}

.info-button {
	margin-top: 19px;
}

.launch-image {
	margin: 32px;
}

.toolbar-avatar {
	width: 32px;
	height: 32px;
	border-radius: 64px;
	margin-top:2px;
}
